@charset "utf-8";
/* CSS Document */
body{font-size:14px; font-family:"微软雅黑" !important;background-color: #f7f7f7; color:#333;}
/*css-reset*/
button {outline: none !important;}
html,body,div,ul,ol,li,dl,dt,dd,p,span,em,strong,b,i,h1,h2,h3,h4,form,input,button,textarea,select,option,img,a{ margin:0; padding:0}
ul,ol,dl,dt,dd,p,img{ display:block; border:0}

a:focus{ -moz-outline-style: none; /* FF */ } 
li{ display:block; list-style:none}
textarea{resize: none;outline: none}
input{outline: none;}
.col_999{ color:#999;}
.col_666{ color:#666;}
.m_t_10{ margin-top:10px;}
.m_t_20{ margin-top:20px;}
.page_title{ width:100%; margin-top:15px;}
.page_all{ width:100%; overflow:hidden; margin-top:20px; position:relative;}
.column_ul{ position:absolute; top:0px; height:42px;}
.column_ul li a{color:#333;     text-decoration: none;}
.column_ul_on{border:1px solid #f0f0f0; border-bottom:0; background-color:#fff; color:#1ed2ff;}
.column_ul li{ float:left; line-height:42px; width:88px;  text-align:center; font-size:14px; margin-right:40px; border-top-left-radius:10px; border-top-right-radius:10px; cursor:pointer; }
.condition_all{border:1px solid #f0f0f0; background-color:#fff; margin-top:42px; padding-top:10px; ;}
.condition_all_no{border:1px solid #f0f0f0; background-color:#fff;  padding-top:10px; ;}
/*条件*/
.condition_all,.condition_all_no{ line-height:26px; width:100%;}
.condition_all_ul{ float:left; margin-left:22px; width:1040px; margin-bottom: 0px}
.condition_all_ul li{ float:left; padding-left:10px; padding-right:10px; margin-top:10px; margin-right:5px; position:relative;}
.block .classify,.block_industry .classify,.global_block .classify{ float:left;  margin-top:10px; padding-left:15px; display:block; width:63px;}
.pick_on{ background-color:#1ed2ff; color:#fff; border-radius:4px;}
.block{ clear:both; width:100%; overflow:hidden;}
.global_block{ clear:both; width:100%; overflow:hidden;}
.brain_ico{ background-image:url(../img/brain_ico.png);}
.brain_ico_bj{background-position: 0px 0px; position:absolute; width:16px; height:16px; top:0; right:0; display:none;
    cursor: pointer;}
.pick_on .brain_ico_bj{ display:block;}
.click_show{ margin-top:10px; clear:both; overflow:hidden; width:100%; height:36px; line-height:36px;}
.brain_ico_arrowup{background-position:-64px 0px; width:16px; height:16px; display:inline-block; cursor: pointer;}
.click_show:hover ,.click_show_on:hover { color:#1ed2ff; cursor: pointer; background-color:#fafafa;}
.click_show:hover .brain_ico_arrowup ,.brain_ico_arrow{background-position:-36px 0px; width:16px; height:16px; display:inline-block; }
.click_show{ text-align:center; margin-top:10px;}
.click_show_on .brain_ico_arrowup{background-position:-80px 0px; width:16px; height:16px; display:inline-block; }
.click_show_on:hover .brain_ico_arrowup{background-position:-50px 0px;}
.brain_ico_close{background-position:-21px 1px; width:16px; height:11px; display:inline-block; cursor:pointer; }
.time_ul{float:left; margin-left:22px; width:1040px; margin-bottom: 0px}
.time_ul li{ float:left; margin-top:10px; margin-right:10px;}
.time_ul li input{ border:1px solid #cccccc; border-radius:4px; width:100px; text-indent:5px; font-size:12px;}
.table_seek{ width:300px; float:right; background-color:#fff; border-radius:15px; height:30px; border:1px solid #e6e6e6;}
.brain_ico_seek{ background-position:0px -21px; width:17px; height:16px; display:block; float:right; margin-right:12px; margin-top:5px; cursor:pointer;}
.table_seek input{ width:255px; height:28px; margin-left:10px; border:0; text-indent:5px;}
.bj_fff{ background-color:#fff;}
.block .table_style > thead > tr > th { text-align:center; font-weight: 100;border-bottom: 1px solid #f0f0f0 !important;;border-left:0px solid #f0f0f0; padding-top:16px; padding-bottom:16px;}
.block .table_style > tbody  > tr > td { text-align:center; font-weight: 100;border-bottom: 1px solid #f0f0f0;border-left:0px solid #f0f0f0; }
.block .table_style > tbody > tr:nth-of-type(odd) {
     background-color: #fff;
}
.block .table_style > tbody > tr:nth-of-type(odd):hover {
     background-color: #f9f9f9;
}
.table_style  thead th .th-inner, .table_style  tbody td .th-inner {
    padding: 15px 0 !important;
    line-height: 24px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.border_l{border-left:1px solid #f0f0f0; height: 28px;}
.block .table_style th, .block .table_style td {
    vertical-align: middle; text-align:center;
    box-sizing: border-box;
}
.line_h{ line-height:28px;}
.list_table_td{text-align:left;}
.list_table_td span{ line-height:35px; text-indent: 5px; display: inline-block;}
.list_table_td img,.list_table_td ul{ float:left;}
.list_table_td ul{ float:left; margin-left:10px;}
.list_table_td a{ color:#333;}
.list_table_td a:hover{ color:#1ed2ff; text-decoration:none;}
.boder_all table{ border:1px solid #f0f0f0;}
.block .fixed-table-container {
    position: relative;
    clear: both;
    border: 0px solid #dddddd;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
/*行业选择*/
.industry_list{ position:absolute; overflow:hidden; top:26px; width:305px; background-color:#fff; border:1px solid #e7e7e7; height:465px; z-index:98; left:0px;}
.industry_list ul{ float:left;  border-left:1px solid #f0f0f0; height:465px;    width: 130px; padding-top:10px;}
.industry_list ul li{ height:27px; line-height:27px; text-indent:20px; width:100%; overflow:hidden; cursor:pointer; padding: 0; margin: 0;}
.industry_list #three_industry{ width:157px;}
#one_industry li{ min-width:105px;}
#one_industry{overflow-y: auto;}
.none{ display:none;}
.click_class{ color:#1ed2ff;}
#one_industry li:hover ,#two_industry li:hover ,#three_industry li:hover{ background-color:#1ed2ff; color:#fff;}
.industry_list{ display:none;}
.block_industry{ width:100%;}
.switch_condition{ display:none;}
.type_name{ float:left;margin-left: 88px; line-height:26px; margin-top: 10px;}
/*导航*/
.nav_bj{ background-color:#212a35; height:57px;   border-bottom:3px solid #f7f7f7; }
.logo{display:block; float:left; width:122px; height:36px; margin-top:5px;}
.nav_all{ height:57px; position:relative; background-image:url(../img/nav_d.jpg); background-repeat:no-repeat;}
.nav_all ul{ margin-left:40px; float:left; overflow:hidden;}
.nav_all ul li{ float:left; font-size:16px; color:#fff; margin-top: 14px; margin-left:60px;}
.nav_all ul .nav_all_on{ color:#1fc1eb}
.nav_nav ul li{ float:left; height:65px; text-align:center; width:75px; margin-left:60px;}
.nav_nav{border-bottom:1px solid #d9d9d9; height:66px; background-color:#ffffff;}
.nav_nav_name{ font-size:16px; color:#333333; margin-top:15px;}
.nav_nav_name_x{ font-size:12px; color:#999;}
.nav_nav_on{ border-bottom:4px solid #1ed2ff;}
.nav_all_input{ width:370px; height:32px; background-color:#a6aaae; border-radius:15px; float:left; margin-top:10px; margin-left:100px;}
.nav_all_input input{ width:330px; margin-left:8px; text-indent:5px; float:left; height:30px; margin-top:1px; background-color:#a6aaae; border:0;border-radius:5px;}
.nav_all_name{ float:right; color:#fff; font-size:12px; margin-top:18px;}
.brain_ico_name{background-position:-28px -14px; width:16px; height:16px; display:inline-block; }
.nav_nav ul{ margin-left:140px;}
.nav_nav ul li a{color:#333;     text-decoration: none;}
.block_list{display:none;}
#global_list .condition_all_ul{ margin-left:134px; width:1000px; }
.type_name_all .condition_all_ul{ margin-left:10px !important; float: left;  width: 935px !important; }
.brain_ico_up_arrows{background-position: -44px -21px; width: 17px; height: 16px;  display: inline-block;}
.brain_ico_down_arrows{background-position: -69px -20px; width: 17px; height: 16px;  display: inline-block;}
.table_style  comp{color:#1ed2ff; font-weight: bold;}
.th_li{ height:28px; overflow:hidden; margin-bottom:0;}
.th_li li{line-height:15px;}