/*��ѯ*/
em,i{font-style:normal;}
.info-top{width:100%; background:#fff;}
.info-search{width:536px;height:32px;margin:0 auto;position:relative;     height: 120px; padding-top:44px;/* top:50%;transform:translateY(-50%); */}
.info-search input{width:408px;border-radius:20px;height:32px; line-height:32px;outline:none;border:1px solid #b2dbff;padding-left:20px;}
.search-btn{display:inline-block;width:89px;height:32px;border-radius:20px;background:#2393f7;text-align:center;line-height:32px;color:#fff;margin-left:21px;cursor:pointer;}
.info-nav-content li{padding-bottom:11px;float:left;margin-right:40px;font-size:14px;color:#323333;cursor:pointer;}
.info-nav-content li:hover,.info-nav-content .search_on{border-bottom:2px solid #2393f7;color:#2393f7;}
.info-nav-content{height:75px;padding:30px 0px; margin-left:20px;}
.info-nav-content:after{content:'\0020';display:block;height:0;clear:both;}
.info-list{width:100%;}
.info-list-title{padding:20px 20px;border-bottom:1px solid #f0f0f0;background:#fff; color:#323333;}
.title-color{color:red;}
.info-list-item{width:100%; border-bottom:1px solid #f0f0f0;background:#fff; overflow:hidden;}
.info-list-item:hover{background:#f5f5f5;}
.info-list-item dt{margin:20px 0px 20px  20px;}
.info-list-item dd{margin-top:7px;}
.info-list-item  a{color:#333333;font-size:16px;font-weight:bold;}
.info-list-item dd img{width:121px;height:75px;display:inline-block;border:1px solid #f0f0f0;margin-left:20px;}
.info-list-item dd p{color:#666666;font-size:14px;display:inline-block;width:1080px;  margin-bottom: 20px;   padding-right: 20px; margin-left:10px;}
.no_img dd p{width:100%;  padding-right: 20px;  padding-left: 20px; margin-left:0px; }
.info-list-item dd .info-tips{text-align:right; float:right; color:#999999;font-size:12px;}
.no_img dd .info-tips{margin-left:0px;}
.info-list dl{margin-bottom:0px;}
.info-list-item .info-no-pic{width:100%;padding:0px 11px;}
.info-line{width:90%;margin:0 auto;border:1px solid #f0f0f0;}
.info-list-item .info-no-pic .info-tips{margin-top: 26px;margin-left: 130px;}
.info-list-item .info-no-pic p{height:40px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
/*��Ŀ*/
.list-item{width:100%; background:#fff;     padding-left: 20px;  padding-right: 20px;}
/* .info-list-container{border:1px solid #f0f0f0} */
.list-item-inner{width:100%;height:100%;border-bottom:1px solid #f0f0f0;margin:0 auto;}
.list-item-left{width:80px;float:left;margin-top:20px;     padding-bottom: 20px;}
.list-item-left img{ width:80px; height:80px; border:1px solid #f0f0f0;}
.list-item-right{float:right;width:1120px; padding-left:20px;     padding-bottom: 20px;}
.list-item-right p{margin-bottom:0;     margin-top: 20px;}
.list-item-tips{color:#999;}
.list-item-inner:after{content:'\0020';display:block;height:0;clear:both;}
.list-item-title{margin-top:23px;color:#323232;}
.list-item-title a{ color:#323232;     font-size: 16px;}
.list-item-title span{display:inline-block;height:20px;border-radius:20px;border:1px solid #999999;padding:0px 10px;;margin-left:9px;color:#333333; line-height:20px;font-size:12px;}
.list-item-content{color:#666666;font-size:14px; max-height: 60px;}
.list-item-address{display:inline-block;width:14px;height:16px;vertical-align:middle;margin-right:9px;background:url('../img/dn/address_03.png') no-repeat;}
.list-item-finace{display:inline-block;width:16px;height:16px;vertical-align:middle;margin-left:20px;margin-right:10px;background:url('../img/dn/address_05.png') no-repeat;}
.list-item:hover{background:#f5f5f5;}
.project_tit_ul .list-item-finace{    margin-left: 0px;}
/*����*/
.institute-title span{padding:0px 10px; display:inline-block; height:20px; line-height:20px; font-size:12px;}
.list-item-case{color:#333333;font-size:15px;margin-top:20px;}
.list-institute-content{margin-top:20px;}
/*error*/
.info-error{width:100%;padding-top:120px; height:400px; background-color:#f7f7f7;}
.info-error img{width:244px;height:204px; margin:0 auto;}
/*index*/
.index_top{height:412px;background:url('../img/dn/banner1.jpg') no-repeat center 0px; padding-top:40px;}
.index-top-content{width:1240px;height:157px;margin:0 auto;}
.project_top_center{ height:140px; overflow:hidden; text-indent:2em;}
.index-top-content h3{color:#fff;text-align:center;font-size:24px;}
.index-top-content p{color:#fff;font-size:16px;margin-top:48px;  padding-right:20px;   padding-left: 20px;}
.index-top-content .index-top-tips{text-align:right;margin-top:47px;}
.index-company{display:inline-block;width:13px;height:13px;margin-right:7px;vertical-align:middle;background:url(../img/dn/dn_ico.png) no-repeat;    background-position: 0px -24px;}
.index-time{display:inline-block;width:13px;height:13px;margin-left:20px;margin-right:7px;vertical-align:middle;background:url(../img/dn/dn_ico.png) no-repeat;     background-position: -16px -24px;}
.info-list-name{font-size:18px;border-radius:10px 10px 0 0 ;padding-top:30px;padding-bottom:20px;background:url('../img/dn/prject_name_07.png') no-repeat 23px 32px;background-color:#fff;}
.info-list-name span{margin-left:60px;font-size:18px;font-weight:bold;}
.index-project-container{margin-top:-45px;}
select:focus { outline: none important; }








