@charset "utf-8";
/*css-reset*/
button {outline: none !important;}
html,body,div,ul,ol,li,dl,dt,dd,p,span,em,strong,b,i,h1,h2,h3,h4,form,input,button,textarea,select,option,img,a{ margin:0; padding:0}
ul,ol,dl,dt,dd,p,img{ display:block; border:0;list-style:none; }
::-webkit-input-placeholder { color:#ccc;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */　color:#ccc;　}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#ccc;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#ccc;}

/*咨询*/