<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>机构分析</title>
<!--basis-->
{(dn_basis.html)}

</head>
<style>
.nav_nav_commerce {
	display: block;
}
</style>
<body>
	{(header.html)}
	<div class="container">
		<div class="trade_list">
			<div class="trade_list_l">所属行业</div>
			<div class="trade_list_r" id="industry">
				<ul>
				</ul>
				{-raw-}
				<script id="industry_script" type="text/x-jquery-tmpl">
							{{if data.length >0}}
								{{each(i,v) data}}
									<li  onclick="org_chart.load(this)" lang="${v.id}" style="cursor:pointer;">${v.name}</li>
								{{/each}}
							{{else}}
								<span class="cen_span">暂无数据</span>
							{{/if}}
				</script>
				{-raw-}
				<input type="hidden" id="industryId"></input>
			</div>
		</div>
		<div class="background_boeder_indx">
			<div class="particulars_black">
				<table class="table_yl">
					<tbody>
						<tr>
						<th>&nbsp;</th>
 	
							<th>收录机构总数</th>
 
						<th>机构投资总笔数</th>

						<th>机构投资总额</th>
						</tr>
						<tr>
							<td>历史累计</td>
							<td class="col_pink"><span class="size22">0</span></td>
							<td class="col_pink"><span class="size22">0</span></td>
							<td class="col_pink"><span class="size22">0</span>亿元</td>
						</tr>
						<tr>
							<td>本月新增活跃</td>
							<td class="col_pink"><span class="size22">0</span></td>
							<td class="col_pink"><span class="size22">0</span></td>
							<td class="col_pink"><span class="size22">0</span>亿元</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="trade_tit_bg">
			<ul>
				<li class="trade_tit_on" id="selected_title">生命科技</li>
				<li>投资机构行业分布</li>
				<li>投资机构轮次分布</li>
				<li>热门机构投资关系图谱</li>
			</ul>
		</div>

		<div class="background_boeder_commerce m_t10">
			<div class="commerce_tit_all">
				<div class="commerce_tit">
					<span class="dn_ico dn_ico_commerce"></span>投资机构行业分布
				</div>
				<div class="commerce_tit_r">
					<ul>
						<li>
							<select id="orgIndustry" onchange="org_chart.loadChartBySelectTimeType('1')" >
								<option value="1">最近30天</option>
								<option value="2">最近3个月</option>
								<option value="3">最近半年</option>
								<option value="4">最近1年</option>
								<option value="5">最近3年</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
			<div class="commerce_table">
				<table class="table">
					<thead>
						<tr>
							<th class="commerce_table_one">行业排名</th>
							<th class="commerce_table_two">投资机构数</th>
							<th class="commerce_table_three">投资笔数排名前5的机构明细</th>
						</tr>
					</thead>
					<tbody id="orgIndustry_tbody">
					</tbody>
					{-raw-}
						<script id="orgIndustry_script" type="text/x-jquery-tmpl">
							{{if data.length >0}}
								{{each(i,v) data}}
									<tr>
										<td><div class="commerce_table_on table_color1">${v.rank}</div>
										
						<div class="commerce_table_name">{{if v.industryType == 1}}${v.industryName}{{else}}${v.industrySubName}{{/if}}</div></td>
										<td><div class="commerce_table_width table_color1" style="width:412px"></div></td>
									<td>
									<ul class="commerce_table_ul">
										{{each(j,w) v.arr}}
											<li><a href="/jg_particulars.html?orgCode=${w.code}" target="_blank">${w.name}</a></li>
										{{/each}}
									</ul>
							</td>
									</tr>
								{{/each}}
							{{else}}
								<tr ><td style="text-align:center;"  colspan="3" >暂无数据</td></tr>
							{{/if}}
						</script>
					{-raw-}			
				</table>
			</div>
		</div>


		<div class="background_boeder_commerce m_t10">
			<div class="commerce_tit_all">
				<div class="commerce_tit">
					<span class="dn_ico dn_ico_commerce"></span>投资机构轮次分布
				</div>
				<div class="commerce_tit_r">
					<ul>
						<li>
							<select id="orgRound" onchange="org_chart.loadChartBySelectTimeType('2')">
								<option value="1">最近30天</option>
								<option value="2">最近3个月</option>
								<option value="3">最近半年</option>
								<option value="4">最近1年</option>
								<option value="5">最近3年</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
			<div class="commerce_table">
				<table class="table">
					<thead>
						<tr>
							<th class="commerce_table_one">轮次排名</th>
							<th class="commerce_table_two">投资机构数</th>
							<th class="commerce_table_three">投资笔数排名前5的机构明细</th>
						</tr>
					</thead>
					<tbody id="orgRound_tbody">
						<tr>
							<td><div class="commerce_table_on table_2color1">1</div><div class="commerce_table_name">种子轮</div></td>
							<td><div class="commerce_table_width table_2color1" style="width:412px"></div></td>
							<td>
								<ul class="commerce_table_ul">
									<li><a href="" target="_blank">红山之本中国中国中国</a></li>
									<li><a href="" target="_blank">红山之本中国</a></li>
									<li><a href="" target="_blank">红山之本中国</a></li>
									<li><a href="" target="_blank">红山之本中国</a></li>
									<li><a href="" target="_blank">红山之本中国</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
						{-raw-}
					<script id="orgRound_script" type="text/x-jquery-tmpl">
							{{if data.length >0}}
								{{each(i,v) data}}
									<tr>
										<td><div class="commerce_table_on table_2color1">${v.rank}</div><div class="commerce_table_name">${v.roundName}</div></td>
										<td><div class="commerce_table_width table_2color1" style="width:412px"></div></td>
									<td>
									<ul class="commerce_table_ul">
										{{each(j,w) v.arr}}
											<li><a href="/jg_particulars.html?orgCode=${w.code}" target="_blank">${w.name}</a></li>
										{{/each}}
									</ul>
							</td>
									</tr>
								{{/each}}
							{{else}}
								<tr ><td style="text-align:center;"  colspan="3" >暂无数据</td></tr>
							{{/if}}
						</script>
					{-raw-}	
				</table>
			</div>
		</div>

		<div class="background_boeder_commerce m_t10">
			<div class="commerce_tit_all">
				<div class="commerce_tit">
					<span class="dn_ico dn_ico_commerce"></span>热门机构投资关系图谱<span
						class="commerce_tit_span"> （点击途中机构可查看竞合关系）</span>
				</div>
				<div class="commerce_tit_r">
					<ul>
						<li>
							<select id="orgProject" onchange="org_chart.loadChartBySelectTimeType('3')">
								<option value="1" >最近30天</option>
								<option value="2">最近3个月</option>
								<option value="3">最近半年</option>
								<option value="4">最近1年</option>
								<option value="5">最近3年</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
			<div style="width: 100%; height: 470px;" id="commerce_in"></div>
			<div class="commerce_inst_b partner_div" style="display:none;">
				<div class="commerce_tit">
					与<span class="commerce_inst_b_tit clicked_org">弘毅投资</span>合投机构<span class="commerce_tit_span"> （表中圆圈代表该机构在该行业投资笔数，数越大圆圈越大）</span>
					<div class="fr"><span class="commerce_inst_bg_1"></span>投资笔数</div>
				</div>
				<div class="commerce_inst_b_table">
					<table>
						<thead>
							<tr id="partner_tr">
							
							</tr>
						</thead>
						<tbody id="partner_tbody">
							<tr>
								<td>经纬中国</td>
								<td>300</td>
								<td><div class="commerce_inst_b_y" style="width:50px;height:50px;"></div></td>
								<td><div class="commerce_inst_b_y" style="width:40px;height:40px;"></div></td>
								<td><div class="commerce_inst_b_y" style="width:50px;height:50px;"></div></td>
								<td><div class="commerce_inst_b_y" style="width:40px;height:40px;"></div></td>
								<td><div class="commerce_inst_b_y" style="width:50px;height:50px;"></div></td>
								<td><div class="commerce_inst_b_y" style="width:40px;height:40px;"></div></td>
								<td><div class="commerce_inst_b_y" style="width:50px;height:50px;"></div></td>
								<td><div class="commerce_inst_b_y" style="width:40px;height:40px;" ></div></td>
							</tr>
						</tbody>
						 {-raw-}
								 <script id="partner_tr_script" type="text/x-jquery-tmpl">
								 		 {{if data.industryList.length>0}}
												<th class="commerce_inst_b_table_one">合作机构\行业名称</th>
								<th class="commerce_inst_b_table_two">合投总数</th>
											{{each(i,v) data.industryList}}
{{if i<10}}
												<th>${v.name}</th>{{/if}}
				{{/each}}{{else}}dd
			{{/if}}
								</script>	
						 {-raw-}		
					 	 {-raw-}
						<script id="partner_tbody_script" type="text/x-jquery-tmpl">
							{{if data.partnerList.length >0}}
								{{each(i,v) data.partnerList}}
{{if i<5}}
									<tr>
										<td>${v.partnerOrgName}</td>
										<td>${v.eventNumAll}</td>
										{{each(j,w) v.orgList}}
											{{if j<10}}<td><div id= "${i}_${j}_partener" class="commerce_inst_b_y" style="width:${w.num}px;height:${w.num}px;cursor:pointer;"  onmouseover="over_partner(this,'${w.num}','${v.partnerOrgName}','${w.name}')" onmouseout="out_partner()" lang=""></div></td>{{/if}}
										{{/each}}
									</tr>
								{{/if}}{{/each}}
							{{else}}
								<tr ><td style="text-align:center;"  colspan="3" >暂无数据</td></tr>
							{{/if}}
						</script>
					{-raw-}	
					</table>
				</div>
			</div>
			
			<div class="commerce_inst_b compete_div" style="display:none;">
				<div class="commerce_tit">
					与<span class="commerce_inst_b_tit clicked_org">弘毅投资</span>竞争机构<span class="commerce_tit_span"> （表中圆圈代表该机构与该竞争机构在该行业的投资占比，数值代表投资数）</span>
					<div class="fr">
						<ul>
							<li><span class="commerce_inst_bg_2"></span>本机构</li>
							<li><span class="commerce_inst_bg_3"></span>竞争机构</li>
						</ul>
					</div>
				</div>
				<div class="commerce_inst_b_table">
					<table>
						<thead>
							<tr>
								<th class="commerce_inst_b_table_one">合作机构\行业名称</th>
								<th class="commerce_inst_b_table_two">合投总数</th>
								<th>金融基础设施</th>
								<th>教育</th>
								<th>金融基础设施</th>
								<th>教育</th>
								<th>金融基础设施</th>
								<th>金融基础设施</th>
								<th>金融基础设施</th>
								<th>金融基础设施</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>经纬中国</td>
								<td>300</td>
								<td><div class="pie number-pie" data-value="1" title="在  金融基础设施  行业&#13;弘毅投资  投资  120笔" altbg="red" altcolor="yellow" altborder="yellow" onmouseover="over(this)" onmouseout="out(2)"></div></td>
								<td><div class="pie number-pie" data-value="1" title="在  金融基础设施  行业&#13;弘毅投资  投资  120笔" altbg="red" altcolor="yellow" altborder="yellow" onmouseover="over(1)" onmouseout="out(2)"></div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			
		</div>


		


	</div>

{(dn_foot.html)}
<script src="js/jquery.tmpl.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/pie/pie-1.0.1.js"></script>
<script src="layer/layer.js"></script>
<link rel="stylesheet" type="text/css" href="js/pie/pie.css"/>
<script>
nav_locaton('sydc','jgfx','jgfx','')
var pie1 = new Pie({
		el : '.number-pie'
	});
pie1.init();	
var pie_tips_index = null
function over_partner(obj,num,orgName,industryName){
	var follow = $(obj).attr('id')
	pie_tips_index = layer.tips('在 '+industryName+' 行业<br/> '+orgName+' 投资 '+num+' 笔 ', '#'+follow,{time:111111111});
}
function out_partner(params){
// 	layer.close(pie_tips_index)
}
</script>
<script src="js/org_chart.js"></script>
</body>

</html>
