<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>项目评测</title>
	<!--basis-->
	{(dn_basis.html)}
</head>

<body>
{(header.html)}
<div class="contrast_all background_boeder_indx">
	<div class="contrast_all_bj"></div>
	<div class="contrast_tit">比较项目</div>
	<ul class="contrast_ul">
		<li class="contrast_ul_li_postion">
			<div class="contrast_img">&nbsp;</div>
			<div class="contrast_two">
				<ul>
					<li>成立时间</li>
					<li>地区</li>
					<li>公司规模</li>
				</ul>
			</div>
			<div class="contrast_three">
				<ul>
					<li>估值</li>
					<li>融资总额</li>
					<li>当前轮次</li>
				</ul>
			</div>
			<div class="contrast_time">最新融资时间</div>
			<div class="contrast_money">最新融资金额</div>
			<div class="contrast_four">
				<ul>
					<li>投资方</li>
				</ul>
			</div>
		</li>
		{-raw-}
		<script id="compareList" type="text/x-jquery-tmpl">
		<li id=${projCode}>
			<div class="contrast_img">
				<img src="{{html Constants.logoPath}}project/${projCode}.png">
				<div class="contrast_name">${projTitle}</div>
				<div class="dn_ico dn_ico_contrast divcom"  code="${projCode}")></div>
			</div>
			<div class="contrast_two">
				<ul>
					{{if setupDT}}
						<li>${setupDT}</li>
					{{else}}
						<li>{{html table.empty}}</li>
					{{/if}}
					{{if districtSubName}}
						<li>${districtSubName}</li>
					{{else}}
						<li>{{html table.empty}}</li>
					{{/if}}
					<li>{{html table.empty}}</li>
				</ul>
			</div>
			<div class="contrast_three">
				<ul>
					<li>{{html table.empty}}</li>
					<li>222</li>
					<li>${latestFinanceRound}</li>
				</ul>
			</div>
			<div class="contrast_time">{{html formatDate(latestFinanceDT)}}</div>

			{{if latestFinanceAmountStr}}
			    <div class="contrast_money">${latestFinanceAmountStr}</div>
			{{else}}
                <div >{{html table.empty}}</div>
            {{/if}}

			<div class="contrast_four">
				<ul>
					{{html formatInvestSide(investSideJson)}}
				</ul>
			</div>
		</li>
		</script>
		{-raw-}
	</ul>
</div>	


{(dn_foot.html)}


</body>
<script src="js/jquery.tmpl.js"></script>
<script>
    $(".Floating_box").hide();
    refresh();
    function refresh(){
        var array=[];
        if(getCookie("ctdn-compare")){
		var jsonArray = eval('(' + getCookie("ctdn-compare") + ')');
		for(var i = 0;i<jsonArray.length;i++){
			array.push(jsonArray[i].code);
		}
		var codes =array.join(",");
		sendGetRequest(detail.queryByCodeList+codes,function(data){
			var target =$("#compareList")
			target.tmpl(data.data).appendTo(target.parent())
			  //删除对比
			 $("body").delegate(".divcom","click",function(){
				$(this).closest("li").remove();
				var code= $(this).attr("code");
				cancelCompare(code)
			 })
		})
	}
    }

	//对比项目投资方
	function formatInvestSide(investSideJson){
     if(!investSideJson){
        return "<li>"+table.empty+"</li>"
     }else{
         var jsonObjArr = eval('(' + investSideJson + ')');
         var html;
         for(var i in jsonObjArr){
            html += "<li>"+jsonObjArr[i].invstor+"</li>"
         }
        return html;
     }
}
</script>
</html>
