<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>
	<!--basis-->
	{(dn_basis.html)}
	<style>
	.nav_nav{display:none;}
	.nav_bj{  
     /*  filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;   */
      background-color: rgba(0,0,0,0.0);z-index: 998;   position: absolute;
    width: 100%;
} 
	.nav_bj .container { position: relative;  color: #FFFFFF;
	}
	</style>
<script type="text/javascript" src="js/jquery_slide/jquery_slide.js"></script>
</head>

<body>
{(header.html)}
<div class="container_image">
	<a href="javascript:void(0)" tip="0" class="i_btn prev_L"></a>
	<a href="javascript:void(0)" tip="1" class="i_btn next_R"></a>
	<ul class="slide_img">
		<li>
			
			<a href="javascript:void(0)"><img src="img/dn/b_1.jpg" /></a>
		</li>
		<li>
			<a href="javascript:void(0)"><img src="img/dn/b_2.jpg" /></a>
		</li>
		<li>
			<a href="javascript:void(0)"><img src="img/dn/b_3.jpg" /></a>
		</li>
	</ul>
	<ul class="slide_img_bj">
		<li style="background-image:url(img/dn/b1.jpg);"></li>
		<li style="background-image:url(img/dn/b2.jpg);"></li>
		<li style="background-image:url(img/dn/b3.jpg);"></li>
	</ul>
</div>


<div class="container" style="margin-top:-50px;">
	<div class="dn_l_all">
		<div class="dn_l">
			<div  class="dnsy_tit">
				<div><span class="dn_ico dn_ico_financing"></span><span class="dnsy_tit_size">投融快讯</span></div>
				{(news_tab.html)}
				<div class="dnsy_list"><a href="/news.html">更多</a></div>
			</div>
			<div class="dn_info_list">
				<ul id="newsList">
				</ul>
				{-raw-}
				<script id="getAllnews" type="text/x-jquery-tmpl">
							{{if data.records.length >0}}
								{{each(i,v) data.records}}
								<li>
									<div class="dn_info_list_show">
									<div class="dn_info_list_tit">${v.title}</div>
									{{if v.newsAddress != null}}
										<div class="dn_info_list_show_l"><img src="${v.imgmd5}"></div>
									{{/if}}
									<div class="dn_info_list_show_r">
										<ul>

											<li class="dn_info_list_cen">${v.overview}</li>
											<li class="dn_info_list_ic"><span>${v.orderTime}</span><span>来源：</span><span>${v.auther}</span></li>
										</ul>
									</div>
									</div>
								</li>
								{{/each}}
							{{else}}
								<span>暂无数据</span>
							{{/if}}
							</script>
				{-raw-}

				<!--<ul>-->
					<!--<li>-->
						<!--<div class="dn_info_list_show">-->
							<!--<div class="dn_info_list_tit">携程捆绑销售风波背后：盈利压力与负重前行</div>-->
							<!--<div class="dn_info_list_show_l"><img src="img/dn/l.png"></div>-->
							<!--<div class="dn_info_list_show_r">-->
								<!--<ul>-->
									<!---->
									<!--<li class="dn_info_list_cen">携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行</li>-->
									<!--<li class="dn_info_list_ic"><span>1小时前</span><span>来源：投资中国</span></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="dn_sy_line"></div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<div class="dn_info_list_show_noimg">-->
							<!--<ul>-->
								<!--<li class="dn_info_list_tit">携程捆绑销售风波背后：盈利压力与负重前行</li>-->
								<!--<li class="dn_info_list_cen">携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行携程捆绑销售风波背后：盈利压力与负重前行</li>-->
								<!--<li class="dn_info_list_ic"><span>1小时前</span><span>来源：投资中国</span></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="dn_sy_line"></div>-->
					<!--</li>-->
				<!--</ul>-->
			</div>
		</div>
		<!-- 投融事件 -->
		<div class="dn_l m_t10">
			<div  class="dnsy_tit no_border">
				<div><span class="dn_ico dn_ico_event"></span><span class="dnsy_tit_size">投融事件</span></div>
				<div class="dnsy_list"><a href="/list_page_rz.html">更多</a></div>
			</div>
			<div class="dn_info_list" data-block="getCTDNEventInfo">

				<ul>
					{-raw-}

							<script id="getCTDNEventInfo" type="text/x-jquery-tmpl">
							{{if data.length >0}}
								{{each(i,v) data}}
								<li>
									<div class="dn_info_list_show padding_tb20">
									<ul>
										<li class="event_img"><img src="${v.logo}"></li>
										<li class="event_tit">
											<div class="event_tit_t"><a href="/tzsj_particulars.html?eventId=${v.sourceCode}">${v.investevent}</a></div>
											<div class="event_tit_c">${v.desc}</div>
										</li>
										<li class="event_turn">${v.round}</li>
										<li class="event_money">${v.amountStr}</li>
										<li class="event_financing">
											<ul>
												<li>${v.invstorgnames}</li>
											</ul>
										</li>
										<li class="event_time">${v.investDate}</li>
									</ul>
									</div>

									<div class="dn_sy_line_event"></div>
								</li>
								{{/each}}
							{{else}}
								<span>暂无数据</span>
							{{/if}}
							</script>

							<!--<ul>-->
								<!--<li class="event_img"><img src="img/dn/l.png"></li>-->
								<!--<li class="event_tit">-->
									<!--<div class="event_tit_t">优投网</div>-->
									<!--<div class="event_tit_c">若森数字是一家集动画技术研发、影视制作东华教育、科技研发为主的公司。</div>-->
								<!--</li>-->
								<!--<li class="event_turn">轮次未知</li>-->
								<!--<li class="event_money">2亿5000万美金</li>-->
								<!--<li class="event_financing">-->
									<!--<ul>-->
										<!--<li>松禾资本</li>-->
									<!--</ul>-->
								<!--</li>-->
								<!--<li class="event_time">2017-01-24</li>-->
							<!--</ul>-->

					{-raw-}
				</ul>
			</div>
		</div>
	</div>
	<div class="dn_r_all">
		<div class="dn_r">
			<div  class="dnsy_tit no_border">
				<div><span class="dn_ico dn_ico_subject"></span><span class="dnsy_tit_size">专题</span></div>
				<div class="dnsy_list"><a href="#">更多</a></div>
			</div>
			<div class="subject_all">
				<ul>
					<li>
						<div class="subject_img">
							<img src="img/dn/r.png">
							<div class="subject_img_b">
								<span class="dn_ico dn_ico_conpany"></span><span class="m_r20">3家公司</span>
								<span class="dn_ico dn_ico_time"></span><span>3家公司</span>
							</div>
						</div>
						<div class="subject_tit"><a href="#">睡眠监测创业创业创业创业创业创业创业创业创业项目推荐合辑</a></div>
					</li>
					<li>
						<div class="subject_img">
							<img src="img/dn/r.png">
							<div class="subject_img_b">
								<span class="dn_ico dn_ico_conpany"></span><span class="m_r20">3家公司</span>
								<span class="dn_ico dn_ico_time"></span><span>3家公司</span>
							</div>
						</div>
						<div class="subject_tit"><a href="#">睡眠监测创业创业创业创业创业创业创业创业创业项目推荐合辑</a></div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="dn_r m_t10">
			<div  class="dnsy_tit no_border">
				<div><span class="dn_ico dn_ico_report"></span><span class="dnsy_tit_size">行研报告</span></div>
				<div class="dnsy_list"><a href="#">更多</a></div>
			</div>
			<div class="report_all">
				<ul>
					<li>
						<p><a href="report_detailed_1.html">独家丨还在玩命找风口？这份［创投指数］报告，泄露了投资背后的数据逻辑</a></p>
					</li>
					<li>
						<p><a href="report_detailed_2.html">研究丨理财保险双「陨落」、区块链大热，你管好自己的钱袋子了吗？</a></p>
					</li>
					<li>
						<p><a href="report_detailed_3.html">这个行业雇佣全球超40%人口，有7.8万亿美元市场，创新却最慢【星河研究院】</a></p>
					</li>
					<li>
						<p><a href="report_detailed_4.html">基因测序成本从1000万美元降到1000美元，创业风口来了吗？【星河研究院】</a></p>
					</li>
					<li>
						<p><a href="report_detailed_5.html">《王者荣耀》卖皮肤日流水1.5亿 中国玩家正把全球游戏产业带入转折点【星河研究院】</a></p>
					</li>
					<li>
						<p><a href="report_detailed_6.html">研究丨癌症治愈不再遥不可及，这些医疗技术创新正在改变世界【星河研究院】</a></p>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
$(function(){

	var newopt={
		w2:"700",//小图宽度
		h2:"350"//小图高度 
	};
	
	i_slide($(".container_image"),newopt);
	
});
</script>
<script src="js/common.js"></script>
<script src="js/jquery.tmpl.js"></script>
<script src="js/newIndex.js"></script>
</body>

</html>
