<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>创投大脑</title>
	<!--basis-->
	{(dn_basis.html)}
<link rel="stylesheet" type="text/css" href="js/jquery_slide/swiper.css">
<link rel="stylesheet" type="text/css" href="js/jquery_slide/index_carousel.css">
<style>
	.nav_nav{display:none;}
	.nav_bj{  
     /*  filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;   */
      /* background-color: rgba(0,0,0,0.0);z-index: 998; */
    width: 100%;
} 
	.nav_bj .container { position: relative;  color: #FFFFFF;
	}
	body {
	    overflow: hidden;
    overflow-y: auto;
}
</style>
<script type="text/javascript" src="js/jquery_slide/swiper.min.js"></script>
</head>

<body>
{(header.html)}
<div class="inex_banner">
	<div class="pc-banner">
		<div class="swiper-container swiper-container-horizontal">
	        <div class="swiper-wrapper" >
	            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="2"><a href="list_page_com.html" target="_blank"><img src="img/dn/b_1.jpg" /></a></div>
	            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1"><a href="report_list.html" target="_blank"><img src="img/dn/b_2.jpg" /></a></div>
	            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="3"><a href="project_evaluating.html" target="_blank"><img src="img/dn/b_3.jpg" /></a></div>
			</div>
	        
	    </div>
	    
		<a href="javascript:void(0)" tip="0" class="i_btn prev_L swiper-button-prev"></a>
		<a href="javascript:void(0)" tip="1" class="i_btn next_R swiper-button-next"></a>
	    <!-- <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div> -->
	</div>
</div>
<div style="position: relative;">	
<div class="bjimg"></div>

	<div class="container" >
		<!-- 高管数据 -->
		<div class="background_boeder_indx">
			<div class="particulars_black" >
				<table class="table_yl">
					<tbody>
						<tr>
							<td>&nbsp;</td>
							<td>收录公司总数</td>
							<td>获投公司总数</td>
							<td>融资总笔数</td>
							<td>融资总额</td>
						</tr>
						<tr>
							<td>历史累计</td>
							<td class="col_pink"><span class="size22" id="projectNum_total">0</span>家</td>
							<td class="col_pink"><span class="size22" id="investedProjNum_total">0</span>家</td>
							<td class="col_pink"><span class="size22" id="eventNum_total">0</span>笔</td>
							<td class="col_pink"><span class="size22" id="amount_total">0</span><span>亿元</span></td>
						</tr>
						<tr>
							<td>本月新增</td>
							<td class="col_pink"><span class="size22" id="projectNum_curmonth">0</span>家</td>
							<td class="col_pink"><span class="size22" id="investedProjNum_curmonth">0</span>家</td>
							<td class="col_pink"><span class="size22" id="eventNum_curmonth" >0</span>笔</td>
							<td class="col_pink"><span class="size22" id="amount_curmonth" >0</span><span>亿元</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 高管数据 end-->
		<!-- 高管图表 -->
		<div class="background_boeder_indx">
			<div class="particulars_black" >
				<div style="height:500px;">
					<div class="eachrst_tit">
						<div class="fl">
							<span class="eachrst_tit_on" cmd="yl_tit" name="one">行业融资趋势</span>
							<span class="eachrst_tit_b">|</span>
							<span cmd="yl_tit" name="two">行业融资对比(最近三个月)</span>
						</div>
						<div class="fr" id="num_or_money">
							<span class="eachrst_tit_on" lang="1">按融资笔数</span>
							<span lang="2">按融资金额</span>
						</div>
						
						
					</div>
					<div id="main_yl" style="height: 440px;"></div>
					<div id="main_yl_db" style="height: 440px;"></div>
				</div>
			</div>
		</div>
		<!-- 高管图表 end-->
		<div class="dn_l_all">
			<!--全部行业-->
			<div class="index_trade"><div class="index_trade_c" id="executive_click">全部行业<span class="dn_ico dn_ico_tradex"></span></div></div>
			<!--全部行业弹出-->
			<div class="executive_pop none" id="executive_pop">
				<div class="dn_ico dn_ico_trade_triangle" ></div>
				<div class="executive_pop_ul" id="business_line">
					<ul>
					</ul>
						{-raw-}
					<script id="business_line_script" type="text/x-jquery-tmpl">
							{{if data.length >0}}
								{{each(i,v) data}}
									<li  onclick="getGG_news('${v.industryNames}',this)">${v.name}</li>
								{{/each}}
							{{else}}
								<span class="cen_span">暂无数据</span>
							{{/if}}
							</script>
					{-raw-}
				</div>				
			</div>
			<!--关注行业弹出end-->
			<!--  行业大事件 -->
			<div class="dn_l">
				<div class="dnsy_tit no_border">
					<div><span class="dn_ico dn_ico_executive"></span><span class="dnsy_tit_size">行业大事件</span></div>
					
				</div>
				<div class="executive_div">
					<div class="executive_line"></div>
					<ul class="executive_ul" id="newsList1">
						<li>
							<div class="executive_list_show">   
								<div class="executive_time">2017-11-01<span class="executive_time_y"></span></div>                 
								<div class="dn_info_list_tit"><a href="http://display.ofweek.com/2017-12/ART-8321304-8110-30178776.html" target="_blank">国产京东方OLED刘海屏现身:6.18英寸 2K分辨率</a></div>                     
								<div class="dn_info_list_show_l"><img src="http://static.galaxyinternet.com/img/news/0a774e8b565b117f41c7caa274e27a7a.PNG"></div>                    
								<div class="dn_info_list_show_r">           
									<ul>             
										<li class="dn_info_list_cen">好消息是,除了三星之外,国内屏幕厂商也在发力刘海屏,京东方就拿出了自家的成果。 从网友@熊本科技曝光的图片来看,京东方日前展出了旗下的6.18英寸刘海屏,其分辨率达...  </li>            <li class="dn_info_list_ic"><span>53分钟前</span><span>来源:</span><span>OFweek</span></li>           
									</ul>          
								</div>         
							</div>  
						</li>
						<li>
							<div class="executive_list_show">   
								<div class="executive_time"></div>                 
								<div class="dn_info_list_tit"><a href="http://display.ofweek.com/2017-12/ART-8321304-8110-30178776.html" target="_blank">国产京东方OLED刘海屏现身:6.18英寸 2K分辨率</a></div>                     
								<div class="dn_info_list_show_l"><img src="http://static.galaxyinternet.com/img/news/0a774e8b565b117f41c7caa274e27a7a.PNG"></div>                    
								<div class="dn_info_list_show_r">           
									<ul>             
										<li class="dn_info_list_cen">好消息是,除了三星之外,国内屏幕厂商也在发力刘海屏,京东方就拿出了自家的成果。 从网友@熊本科技曝光的图片来看,京东方日前展出了旗下的6.18英寸刘海屏,其分辨率达...  </li>            <li class="dn_info_list_ic"><span>53分钟前</span><span>来源:</span><span>OFweek</span></li>           
									</ul>          
								</div>        
							</div>  
						</li>
						<li>
							<div class="executive_list_show">   
								<div class="executive_time"></div>                 
								<div class="dn_info_list_tit"><a href="http://display.ofweek.com/2017-12/ART-8321304-8110-30178776.html" target="_blank">国产京东方OLED刘海屏现身:6.18英寸 2K分辨率</a></div>                     
								<div class="dn_info_list_show_l"><img src="http://static.galaxyinternet.com/img/news/0a774e8b565b117f41c7caa274e27a7a.PNG"></div>                    
								<div class="dn_info_list_show_r">           
									<ul>             
										<li class="dn_info_list_cen">好消息是,除了三星之外,国内屏幕厂商也在发力刘海屏,京东方就拿出了自家的成果。 从网友@熊本科技曝光的图片来看,京东方日前展出了旗下的6.18英寸刘海屏,其分辨率达...  </li>            <li class="dn_info_list_ic"><span>53分钟前</span><span>来源:</span><span>OFweek</span></li>           
									</ul>          
								</div>  
								<div class="executive_b_line"></div>        
							</div>  
						</li>
						<li>                     
							<div class="executive_list_show no_img_index">      
								<div class="executive_time">2017-10-30<span class="executive_time_y"></span></div>               
								<div class="dn_info_list_tit"><a href="http://ent.ynet.com/2017/12/04/726718t1254.html" target="_blank">嘻哈意味着全部 陌陌迎《中国有嘻哈》吴肇辉-辉子</a></div>                    
								<div class="dn_info_list_show_r">           
									<ul>             
										<li class="dn_info_list_cen">12月1日,这位有些痞气,有些不羁的嘻哈Rapper吴肇辉-辉子来到泛社交泛娱乐平台陌陌与广大网友畅快互动,在直播中他表示,嘻哈对他来说就意味着全部。 自谦是新人 要...  </li>            
										<li class="dn_info_list_ic"><span>32分钟前</span><span>来源:</span><span>北青网</span></li>           
									</ul>          
								</div>  									
								<div class="executive_b_line"></div>          
							</div>         
						</li>
					</ul>
					{-raw-}
					<script id="getAllnews" type="text/x-jquery-tmpl">
							{{if page.recordList.length >0}}
								{{each(i,v) page.recordList}}
										{{each(j,w) v}}
											<li>
										{{if w.imgmd5}}
										<div class="executive_list_show">
									{{else}}
										<div class="executive_list_show no_img_index">
									{{/if}}
									{{if j == 0}}
										<div class="executive_time">{{html formatDate(w.orderTime*1000,'yyyy-MM-dd')}}<span class="executive_time_y"></span></div>
									{{/if}}
									<div class="dn_info_list_tit"><a href="${w.href}" target="_blank">${w.title}</a></div>
									{{if w.imgmd5}}
										<div class="dn_info_list_show_l"><img src={{html Constants.logoPath +"news/"+w.imgmd5+".PNG"}}></div>
									{{/if}}
									<div class="dn_info_list_show_r">
										<ul>

											<li class="dn_info_list_cen">${w.overview}</li>
											<li class="dn_info_list_ic"><span>{{html formatNewsTime(w.orderTime,'yyyy-MM-dd')}}</span><span>来源:</span><span>${w.auther}</span></li>
										</ul>
									</div>
									<div class="executive_b_line"></div>
									</div>
								</li>	
										{{/each}}
								{{/each}}
							{{else}}
								<span class="cen_span">暂无数据</span>
							{{/if}}
							</script>
					{-raw-}
				</div>
			</div>
			
			<!--  行业大事件 end-->
			<!-- 竞争动态 -->
			<div class="dn_l">
				<div class="dnsy_tit no_border">
					<div><span class="dn_ico dn_ico_rivalry"></span><span class="dnsy_tit_size">竞争动态</span></div>					
				</div>
				<div class="rivalry_div" >
					<ul id="compete"> 
						<li>
							<div class="rivalry_div_l">
								<img src="http://static.galaxyinternet.com/img/project/f16d630dd4a46243780d99739bf4444b.png">
								<div class="rivalry_div_tit">九鼎投资九鼎投资...</div>
								<div class="rivalry_div_num">上个月<span class="rivalry_div_num_span">2</span>笔</div>
							</div>
							<div class="rivalry_div_r">
								<ul>
									<li>
										<span class="rivalry_div_r_cen">明码科技完成2.4亿美元B+轮美元B+轮美元B+轮融资；车和家获得6.2亿元A3轮融资；明码科技完成明码科技完成明码科技完...</span>
										<span class="rivalry_div_r_time">2017-09-16</span>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="rivalry_div_l">
								<img src="http://static.galaxyinternet.com/img/project/f16d630dd4a46243780d99739bf4444b.png">
								<div class="rivalry_div_tit">九鼎投资九鼎投资...</div>
								<div class="rivalry_div_num">上个月<span class="rivalry_div_num_span">2</span>笔</div>
							</div>
							<div class="rivalry_div_r">
								<ul>
									<li>
										<span class="rivalry_div_r_cen">明码科技完成2.4亿美元B+轮美元B+轮美元B+轮融资；车和家获得6.2亿元A3轮融资；明码科技完成明码科技完成明码科技完...</span>
										<span class="rivalry_div_r_time">2017-09-16</span>
									</li>
									<li>
										<span class="rivalry_div_r_cen">明码科技完成2.4亿美元B+轮美元B+轮美元B+轮融资；车和家获得6.2亿元A3轮融资；明码科技完成明码科技完成明码科技完...</span>
										<span class="rivalry_div_r_time">2017-09-16</span>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="rivalry_div_l">
								<img src="http://static.galaxyinternet.com/img/project/f16d630dd4a46243780d99739bf4444b.png">
								<div class="rivalry_div_tit">九鼎投资九鼎投资...</div>
								<div class="rivalry_div_num">上个月<span class="rivalry_div_num_span">2</span>笔</div>
							</div>
							<div class="rivalry_div_r">
								<ul>
									<li>
										<span class="rivalry_div_r_cen">明码科技完成2.4亿美元B+轮美元B+轮美元B+轮融资；车和家获得6.2亿元A3轮融资；明码科技完成明码科技完成明码科技完...</span>
										<span class="rivalry_div_r_time">2017-09-16</span>
									</li>
									<li>
										<span class="rivalry_div_r_cen">明码科技完成2.4亿美元B+轮美元B+轮美元B+轮融资；车和家获得6.2亿元A3轮融资；明码科技完成明码科技完成明码科技完...</span>
										<span class="rivalry_div_r_time">2017-09-16</span>
									</li>
									<li>
										<span class="rivalry_div_r_cen">明码科技完成2.4亿美元B+轮美元B+轮美元B+轮融资；车和家获得6.2亿元A3轮融资；明码科技完成明码科技完成明码科技完...</span>
										<span class="rivalry_div_r_time">2017-09-16</span>
									</li>
								</ul>
							</div>
						</li>
					</ul>
								{-raw-}
						<script type="text/x-jquery-tmpl" id="compete_script">
	{{if data.length >0}}
	{{each(i,v) data}}
	<li>
							<div class="rivalry_div_l">
								<a href="{{html "/jg_particulars.html?orgCode="+v.orgCode}}"><img src={{html Constants.logoPath +"org/"+v.orgCode+".png"}}></a>
								<div class="rivalry_div_tit"><a href="{{html "/jg_particulars.html?orgCode="+v.orgCode}}">${v.investOrg}</a></div>
								<div class="rivalry_div_num">上个月<span class="rivalry_div_num_span">${v.lastMonthInvestNum}</span>笔</div>
							</div>
							<div class="rivalry_div_r">
								<ul>
								{{if v.records.length >0}}
									{{each(j,w) v.records}}
									<li>
										<span class="rivalry_div_r_cen"><a href="${w.href}" target="_blank">${w.title}</a></span>
										<span class="rivalry_div_r_time">{{html formatDate(w.orderTime*1000,'yyyy-MM-dd')}}</span>
									</li>
									{{/each}}	
								{{else}}<span>暂无数据</span>{{/if}}
									

								</ul>
							</div>
						</li>
		{{/each}}
		{{else}}
		<span class="cen_span">暂无数据</span>
		{{/if}}
	
	</script>{-raw-}
				</div>
			</div>
			<!-- 竞争动态 end-->
		
		
		
		
		
			<!--关注行业-->
			<div class="index_trade none"><div class="index_trade_c" id="trade_click">关注行业<span class="dn_ico dn_ico_tradex"></span></div></div>
			<!--关注行业弹出-->
			<div class="trade_pop none" id="trade_pop">
				<div class="dn_ico dn_ico_trade_triangle"></div>
				<div class="trade_pop_c">
					<div class="trade_pop_tit">关注行业
						<ul class="trade_pop_tit_r">
							<li class="trade_pop_tit_r_b">全选</li>
							<li>清空</li>
						</ul>
					</div>
					<ul class="trade_pop_c_ul">
						<li class="trade_pop_c_ul_on">消费生活</li>
						<li>消费生活</li>
						<li>消费生活</li>
						<li>消费生活</li>
						<li>消费生活</li>
						<li>消费生活</li>
					</ul>
				</div>
				<div class="trade_pop_but">
					<ul>
						<li>保存</li>
						<li>重置</li>
						<li>取消</li>
					</ul>
				</div>
			</div>
			<!--关注行业弹出end-->
			<!--项目速递-->
				
			<!--项目速递end-->
			
			
			<!--投融快讯-->
			
			<!--投融快讯end-->
			
			<!-- 投融事件 -->
			
			<!-- 投融事件end -->
		</div>
		<div class="dn_r_all">
			<!-- 上个月活跃机构 -->
		
			<!-- 上个月活跃机构 end -->
			
			<!-- 专题 -->
			<div class="dn_r">
				<div  class="dnsy_tit no_border">
					<div><span class="dn_ico dn_ico_subject"></span><span class="dnsy_tit_size">专题</span></div>
					<!-- <div class="dnsy_list"><a href="/index_project.html">更多</a></div> -->
				</div>
				<div class="subject_all">
					<ul>
						<li>
							<div class="subject_img">
								<a href="index_project_5.html" target="_blank">
								<img src="img/dn/b2_5.jpg">
								<div class="subject_img_b">
									<span class="dn_ico dn_ico_conpany"></span><span class="m_r20">16家公司</span>
									<span class="dn_ico dn_ico_time"></span><span>更新于2018-1-03</span>
								</div>
								</a>
							</div>
							<div class="subject_tit"><a href="index_project_5.html" target="_blank">一个可能会改变世界的发明——区块链</a></div>
						</li>
						<li>
							<div class="subject_img">
								<a href="index_project_6.html" target="_blank">
								<img src="img/dn/b2_6.jpg">
								<div class="subject_img_b">
									<span class="dn_ico dn_ico_conpany"></span><span class="m_r20">13家公司</span>
									<span class="dn_ico dn_ico_time"></span><span>更新于2018-1-03</span>
								</div>
								</a>
							</div>
							<div class="subject_tit"><a href="index_project_6.html" target="_blank">新零售之无人值守智能便利店领域的创业公司</a></div>
						</li>
						<li>
							<div class="subject_img">
								<a href="index_project_7.html" target="_blank">
								<img src="img/dn/b2_7.jpg">
								<div class="subject_img_b">
									<span class="dn_ico dn_ico_conpany"></span><span class="m_r20">22家公司</span>
									<span class="dn_ico dn_ico_time"></span><span>更新于2018-1-03</span>
								</div>
								</a>
							</div>
							<div class="subject_tit"><a href="index_project_7.html" target="_blank">儿童托管机构为何而生，市场到底有多大？</a></div>
						</li>
						<li>
							<div class="subject_img">
								<a href="index_project_8.html" target="_blank">
								<img src="img/dn/b2_8.jpg">
								<div class="subject_img_b">
									<span class="dn_ico dn_ico_conpany"></span><span class="m_r20">13家公司</span>
									<span class="dn_ico dn_ico_time"></span><span>更新于2018-1-03</span>
								</div>
								</a>
							</div>
							<div class="subject_tit"><a href="index_project_8.html" target="_blank">估值超过10亿的未上市公司</a></div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 专题end  -->
			<!-- 行研报告 -->
			<div class="dn_r">
				<div  class="dnsy_tit no_border">
					<div><span class="dn_ico dn_ico_report"></span><span class="dnsy_tit_size">行研报告</span></div>
					<div class="dnsy_list"><a href="/report_list.html" target="_blank">更多</a></div>
				</div>
				<div class="report_all">
					<ul id="ul">
					</ul>
						{-raw-}
						<script id="report_particulars" type="text/x-jquery-tmpl">
							<li>
								<span><a href="report_detailed.html?id=${id}">${title}</a></span>
							</li>
						</script>
						{-raw-}
				</div>
			</div>			
			<!-- 行研报告 end-->
		</div>
	
	</div>

</div>
{(dn_foot.html)}
<script type="text/javascript">

$(function(){
	nav_locaton('index','ee','','')
	var swiper = new Swiper('.swiper-container',{
		autoplay:3000,
		speed:1000,
		autoplayDisableOnInteraction : false,
		loop:true,
		centeredSlides : true,
		slidesPerView:2,
        pagination : '.swiper-pagination',
		paginationClickable:true,
		prevButton:'.swiper-button-prev',
        nextButton:'.swiper-button-next',
		onInit:function(swiper){
			swiper.slides[2].className="swiper-slide swiper-slide-active";//第一次打开不要动画
			},
        breakpoints: { 
                840: {
                    slidesPerView: 1,
                 }
            }
		});
});
</script>
<script src="js/jquery.tmpl.js"></script>
<!-- <script src="js/newIndex.js"></script> -->

<!-- 高管图表 -->
<script src="js/echarts.min.js"></script>
<script src="js/index_common.js"></script>
<script src="js/index_ylecharts.js"></script>
<script src="js/report.js"></script>
<!-- 高管图表 end-->
<script>
$('body').delegate('#executive_click','click', function(event){
 	event.stopPropagation();
 	$("#executive_pop").show();
    $('.nav_all_seek').show();
	$('.nav_all_input').hide();
})
$(function(){
	if(!isLogin()){ //未登录
		location.href = platformUrl.toLogin
	}else{
		$.ajax({
			url :platformUrl.me,
			type : "GET",
			cache : false,
			contentType : "application/json; charset=UTF-8",
			async : false,
			error : function(request) {
			     location.href =  platformUrl.toLogin
			},
			success : function(data) {
				user_json = JSON.parse(decodeURIComponent(data))
				if(!user_json){
					location.href=  platformUrl.toLogin
					return
				}
				var roleCode = user_json['roleCode']
// 				roleCode=20000
				if(roleCode == 20000){
					querytotalheader()
					querycurmontheader()
					getGG_news('')
				}else{
					location.href= home.index + '/index_normal.html'
					return
				}
				
			}
		});
	}
})
function querytotalheader(){
	sendPostRequest(detail.queryGGTotalHeaderStat,function(data){
		if(data.data){
	    $("#projectNum_total").text(data.data.projectNum)
	    $("#investedProjNum_total").text(data.data.investedProjNum)
	    $("#eventNum_total").text(data.data.eventNum)
	    $("#amount_total").text(data.data.amount)
		}
	})
}
function querycurmontheader(){
	sendPostRequest(detail.queryGGCurMonthHeaderStat,function(data){
		if(data.data){
		    $("#projectNum_curmonth").text(data.data.projectNum)
		    $("#investedProjNum_curmonth").text(data.data.investedProjNum)
		    $("#eventNum_curmonth").text(data.data.eventNum)
		    $("#amount_curmonth").text(data.data.amount)
		}
	})
}
function getGG_news(params,obj){
	if(params){
		$('#executive_click').text($(obj).text())
	}else{
		$('#executive_click').text("全部行业")
	}
	$("#executive_pop").hide();
    var json={};
    json["typeId"] =6;
    json["pageSize"]=6;
    json["pageNo"]=0;
    json["industryNames"] = params
    sendPostRequestByJsonObj(searchUrl.getGGNews,json,function(data){
   
           $(data.page).each(function(k,v){
                if(!v){
                    v="-"
                }else{
                    for(i in v){
                        if(i=="records"){
                            for(j in v[i]){
                               if(v[i][j].overview.length>150){
                                   v[i][j].overview=v[i][j].overview.substring(0,150)+'...'
                               }
                                v[i][j].orderTime= formatDate(v[i][j].orderTime*1000,'yyyy-MM-dd')
                           }
                        }
                    }
                }
           })
           $("#newsList1").html("");
           $("#getAllnews").tmpl(data).appendTo($("#newsList1"))
        })
}
function getOrgs(){
	sendPostRequestByJsonStr(detail.queryLastestOrg,null,function(data){
		if(data.success){
			var data_list = data.data
			var html = ''
			for(var i=0;i<data_list.length;i++){
				var entity = data_list[i]
				var logo = ''
			    logo = Constants.logoPath+'org/'+entity.orgCode+".png"
				var investOrg = '名称未知'
				if(entity.investOrg){
					investOrg = entity.investOrg
				}
				html += '<li>'
					+'<div class="index_institution_img"><a href="/jg_particulars.html?orgCode='+entity.orgCode+'" target="_blank"><img src="'+logo+'"></a></div>'
					+'<div class="index_institution_name"><a href="/jg_particulars.html?orgCode='+entity.orgCode+'" target="_blank">'+investOrg+'</a></div>'
					+'<div class="index_institution_num"><span>'+entity.lastMonthInvestNum+'</span>笔</div>'
					+'</li>'
			}
			$('.index_institution ul').html(html)
		}
	});
}
getCompeteInfo()
var i;
function getCompeteInfo(){
	sendPostRequestByJsonStr(detail.getCompeteInfo,null,function(data){
		if(data.success){
			for(i =0;i<data.data.length;i++){
				var list = data.data[i]
				var json={};
			    json["industryNames"] = data.data[i].investOrg 
			    sendPostRequestByJsonObj(searchUrl.getGGCompeteInfo,json,function(res){
					if(res.status == 10000){
						list['records'] = res.page.records
					}
				});
			}
			$("#compete").html("");
	        $("#compete_script").tmpl(data).appendTo($("#compete"))
		}else{
			
		}
	});
	
}

sendPostRequestByJsonStr(detail.getBusinessLineMappingIndustry,null,function(data){
	if(data.success){
		$("#business_line ul").html("");
		$("#business_line ul").append("<li  onclick=\"getGG_news('',this)\">全部行业</li>")
		$("#business_line_script").tmpl(data).appendTo($("#business_line ul"))
	}else{
		
	}
});
</script>
</body>

</html>
