<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>投资人详情</title>
<!--basis-->
{(basis.html)}
</head>
<style>
.highlight {
	color: #1ac4d3
}

comp {
	color: #1ac4d3
}
</style>
<body>
	{(header.html)}
	<div class="container">
		<div class="particulars_all">
			<div id="header">
			</div>
			{-raw-}
			<script  id="person_basic" type="text/x-jquery-tmpl">
			<div class="startup_xq search_list_people">
				<div class="list-item-inner">
					<div class="list-item-left">
						<img src="${Constants.logoPath}person/${code}.png"/>
					</div>
					<div class="list-item-right">
						<div class="list-item-title">
							<a target="_blank"
							   href="/investor_xq.html?code=${code}">${zhName}</a>
						</div>
						<div class="search_list_people_wn">${enName}</div>
						<div class="search_list_people_list">
							<ul>
								{{if projTitle}}
								<li>
									<div class="search_list_people_list_r">
										<a target="_blank" href="/project_qy.html/?projCode=${projCode}">${projTitle}</a>
									</div>
								</li>
								{{/if}}
								{{if job}}
									<li>${job}</li>
								{{/if}}
								<li>
									<div class="search_list_people_list_r">
										<em>${colleage}</em> <em>${degree}</em>
									</div>
								</li>
								{{if districtSubName}}
								<li>
									<span><i class="list-item-address"></i>${districtSubName}</span>
								</li>
								{{/if}}
							</ul>
						</div>
						<div class="search_collect">
							<span class="dn_ico dn_ico_list_collect_search"></span>收藏
						</div>
					</div>
				</div>
			</div>
			<div class="project_nav">
				<ul>
					<li class="nav_on"><span　>投资人简介</span></li>
					<li><span>投资策略</span></li>
					<li><span>投资案例</span></li>
					<li><span>工作经历</span></li>
					<li><span>教育经历</span></li>
				</ul>
			</div>
			<div class="background_boeder" style="display:none" data-id="none">
				<div class="project_t storey_list">
					<span class="brain_ico brain_ico_project_crumbs"></span>投资人简介
				</div>
				<div class="particulars_black">
					<ul class="project_all_l_ul">
						<li>
							<div class="font_14"></div>
							<p class="color_666" id="personIntro">${introduce}</p>
							<div class="project_more">
								<div class="dn_ico_more_all_click" style="display: none;">
									<div class="dn_ico_more_al_divl">
										加载更多<span class="dn_ico dn_ico_more"></span>
									</div>
								</div>
								<div class="dn_ico_more_all_click_show" style="display: none;">
									<div class="dn_ico_more_al_divl">
										点击收起<span class="dn_ico dn_ico_more_show"></span>
									</div>
								</div>
							</div>
						</li>
					</ul>

				</div>
			</div>
			</script>
			{-raw-}

			<div class="background_boeder" data-id="investor_policy" data-url="queryInvestPolicyInfo" style="display:none">
				<div class="project_t storey_list">
					<span class="brain_ico brain_ico_project_crumbs"></span>投资策略
				</div>
				<div class="particulars_black">
				<input type="hidden" name = "type" value="I">
					<ul class="investor_ul">
					{-raw-}
					<script id="investor_policy" type="text/x-jquery-tmpl">
						<li>
							<div class="investor_ul_tit">关注行业：</div>
							<ul class="investor_ul_1">

							{{html investPolicy(fields)}}
							</ul>
						</li>
						<li>
							<div class="investor_ul_tit">投资阶段：</div>
							<ul class="investor_ul_2">
							{{html investPolicy(rounds)}}
							</ul>
						</li>
						<li>
							<div class="investor_ul_tit">投资计划：</div>
							<div class="investor_ul_c">
							{{if plan}}
								${plan}
							{{else}}
								--
							{{/if}}
							</div>
						</li>
						<li>
							<div class="investor_ul_tit">投资金额：</div>
							<div class="investor_ul_c">
							{{if singleStroke}}
								${singleStroke}
							{{else}}
								--
							{{/if}}
							</div>
						</li>
						</script>
					{-raw-}
					</ul>
				</div>
			</div>
			<div class="background_boeder" data-id="person_com_expr" data-url="queryPersonComExpr" >
				<div class="project_t storey_list">
					<span class="brain_ico brain_ico_project_crumbs"></span>投资案例
				</div>
				<div class="particulars_black">
					<input type="hidden" name = "type" value="I">
					<input type="hidden" name = "pageSize" value="4">
					<input type="hidden" name = "pageNo" value="0">
					<ul class="investor_case">
						{-raw-}
						<script id="person_com_expr" type="text/x-jquery-tmpl">
						{{each(i,v) data}}
						<li>
							<ul class="investor_case_ul">
								<li>
									<div class="investor_case_ul_img">
										<a target="_blank"
											href="/project_qy.html?projCode=${projCode}"><img
											src="${Constants.logoPath}project/${projCode}.png""></a>
									</div>
									<div class="investor_case_ul_cen">
										<div class="investor_case_ul_cen_1">${projTitle}</div>
										<div class="investor_case_ul_cen_2">${latestFinanceRound}/${latestFinanceAmountStr}</div>
										<div class="investor_case_ul_cen_3"><span>${industryName}</span></div>
										<div class="investor_case_ul_cen_time">${projSetUpDT}</div>
									</div>
								</li>
								<li><div class="investor_case_ul_div">${projIntroduce}</div></li>
							</ul>
						</li>
						{{/each}}
						</script>
						{-raw-}
					</ul>
					<div class="project_more">
						<div class="dn_ico_more_all_click" style="display:none">
							<div class="dn_ico_more_al_divl" >
								加载更多<span class="dn_ico dn_ico_more"></span>
							</div>
						</div>
						<div class="dn_ico_more_all_click_show" style="display:none">
							<div class="dn_ico_more_al_divl">
								点击收起<span class="dn_ico dn_ico_more_show"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="background_boeder" data-id="person_work_expr" data-url="queryPersonWorkExpr" >
				<div class="project_t storey_list">
					<span class="brain_ico brain_ico_project_crumbs"></span>工作经历
				</div>
				<div class="particulars_black">
					<input type="hidden" name = "type" value="I">
					<div class="blue_l_b startup_list">
						<ul>
							{-raw-}
							<script id="person_work_expr" type="text/x-jquery-tmpl">
							{{each(i,v) data}}
							<div class="blue_l_b_line"></div>
							<li>
								<div class="relative m_t5">
									<span class="circle_b"></span>
									<span class="startup_time">${period}</span>
									<span>${projTitle}</span>
									{{if job}}
									<span>|</span>
									{{/if}}
									<span>${job}</span>
								</div>
							</li>
							{{/each}}
							</script>
							{-raw-}
						</ul>
					</div>
					<!--<div class="dn_ico_more_all">
						<div class="dn_ico_more_al_divl">
							加载更多<span class="dn_ico dn_ico_more"></span>
						</div>
					</div>-->
				</div>
			</div>

			<div class="background_boeder" data-id="person_edu_expr" data-url="queryPersonEduExpr" >
				<div class="project_t storey_list">
					<span class="brain_ico brain_ico_project_crumbs"></span>教育经历
				</div>
				<div class="particulars_black">
					<input type="hidden" name = "type" value="I">
					<div class="blue_l_b startup_list">
						<ul>
							{-raw-}
							<script id="person_edu_expr" type="text/x-jquery-tmpl">
							{{each(i,v) data}}
							<div class="blue_l_b_line"></div>
							<li>
								<div class="relative m_t5">
									<span class="circle_b"></span>
									<span class="startup_time">${v.period}</span>
									<span>${v.colleage}</span>
									{{if v.major}}
									<span>|</span>
									{{/if}}
									<span>${v.major}</span>
									{{if v.degree}}
									<span>|</span>
									{{/if}}
									<span>${v.degree}</span>
								</div>
							</li>
							{{/each}}
							</script>
							{-raw-}
						</ul>
					</div>
				<!--	<div class="dn_ico_more_all">
						<div class="dn_ico_more_al_divl">
							加载更多<span class="dn_ico dn_ico_more"></span>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>
	{(dn_foot.html)}


<script src="js/jquery.tmpl.js"></script>
<script src="js/formatter_common.js"></script>
<script src="js/person_particulars.js"></script>
<script>
sendGetRequest(detail.queryInvestorBaseInfo+"/"+getHrefParamter("code"),
function(data){
    $('#person_basic').tmpl(data.data).appendTo($("#header"))
    var intro=data.data.introduce
    if(intro){
	  $("#personIntro").closest(".background_boeder").show()
	  if(intro.length>100&&intro.indexOf("nbsp")==-1){
		 $(".project_more").display='none';
	  }
	   	 $("#personIntro").html(intro)
    }
})
nav_locaton('ctsj','tzr','','')
</script>
</body>
</html>
