<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>投资人详情</title>
<!--basis-->
{(basis.html)}
</head>
<style>
.highlight {
	color: #1ac4d3
}
.project_nav,.project_nav>ul>li{display:none;}
comp {
	color: #1ac4d3
}
</style>
<body>
	{(header.html)}
	<div class="container">
		<div class="particulars_all">
			<div id="header">
			</div>
			{-raw-}
			<script  id="person_basic" type="text/x-jquery-tmpl">
			<div class="startup_xq search_list_people">
				<div class="list-item-inner">
					<div class="list-item-left">
						<img src="${Constants.logoPath}person/${url}.png"/>
					</div>
					<div class="list-item-right">
						<div class="list-item-title">
							<a target="_blank"
							   href="/investor_xq.html?code=${code}">${zhName}</a>
						</div>
						<div class="search_list_people_wn">${enName}</div>
						<div class="search_list_people_list">
							<ul>
								{{if projTitle}}
								<li>
									<div >
										{{if projCode}}
											<a target="_blank" href="/project_qy.html?projCode=${projCode}">${projTitle}</a>
										{{else}}
											${projTitle}
										{{/if}}
									</div>
								</li>
								{{/if}}
								{{if job}}
								   {{if projTitle}}
										<div class="search_list_people_list_r">
											<li>${job}</li>
										</div>
									{{else}}
										<div>
											<li>${job}</li>
										</div>
									{{/if}}
								{{/if}}
								<!--<li>
									<div class="search_list_people_list_r">
										<em>${colleage}</em> <em>${degree}</em>
									</div>
								</li>-->
								{{if districtSubName}}
								<li>
									<span><i class="list-item-address"></i>${districtSubName}</span>
								</li>
								{{/if}}
							</ul>
						</div>
						{{html isFav}}
					</div>
				</div>
			</div>
			</script>
			{-raw-}
			<div class="project_nav">
				<ul>
					<li class="nav_on" scroll_on="jj"><span>投资人简介</span></li>
					<li scroll_on="cl"><span>投资策略</span></li>
					<li scroll_on="al"><span>投资案例</span></li>
					<li scroll_on="gz"><span>工作经历</span></li>
					<li scroll_on="jy"><span>教育经历</span></li>
				</ul>
			</div>
			<div class="background_boeder none" scroll_on="jj" data-id="none"  id="person_intro_div">
				<div class="project_t">
					<span class="brain_ico brain_ico_project_crumbs"></span>投资人简介
				</div>
				<div class="particulars_black">
					<ul class="project_all_l_ul">
						<li>
							<div class="font_14"></div>
							<p class="color_666" id="personIntro"></p>
							<div class="project_more">
								<div class="dn_ico_more_all_click" style="display: none;">
									<div class="dn_ico_more_al_divl">
										加载更多<span class="dn_ico dn_ico_more"></span>
									</div>
								</div>
								<div class="dn_ico_more_all_click_show" style="display: none;">
									<div class="dn_ico_more_al_divl">
										点击收起<span class="dn_ico dn_ico_more_show"></span>
									</div>
								</div>
							</div>
						</li>
					</ul>

				</div>
			</div>

			<div class="background_boeder" scroll_on="cl" data-id="investor_policy" data-url="queryInvestPolicyInfo" style="display:none">
				<div class="project_t">
					<span class="brain_ico brain_ico_project_crumbs"></span>投资策略
				</div>
				<div class="particulars_black">
					<input type="hidden" name = "type" value="I">
					<ul class="investor_ul">
						{-raw-}
						<script id="investor_policy" type="text/x-jquery-tmpl">
						<li>
							<div class="investor_ul_tit">关注行业：</div>
							<ul class="investor_ul_1">

							{{html investPolicy(fields)}}
							</ul>
						</li>
						<li>
							<div class="investor_ul_tit">投资阶段：</div>
							<ul class="investor_ul_2">
							{{html investPolicy(rounds)}}
							</ul>
						</li>
						<li>
							<div class="investor_ul_tit">投资计划：</div>
							<div class="investor_ul_c">
							{{if plan}}
								${plan}
							{{else}}
								--
							{{/if}}
							</div>
						</li>
						<li>
							<div class="investor_ul_tit">投资金额：</div>
							<div class="investor_ul_c">
							{{if singleStroke}}
								${singleStroke}
							{{else}}
								--
							{{/if}}
							</div>
						</li>
						</script>
						{-raw-}
					</ul>
				</div>
			</div>
			<div class="background_boeder" scroll_on="al" data-id="person_com_expr" data-url="queryPersonComExpr" >
				<div class="project_t">
					<span class="brain_ico brain_ico_project_crumbs"></span>投资案例
				</div>
				<div class="particulars_black">
					<!--<input type="hidden" name = "type" value="I">-->
					<input type="hidden" name = "type" value="">
					<input type="hidden" name = "pageSize" value="4">
					<input type="hidden" name = "pageNo" value="0">
					<ul class="investor_case">
						{-raw-}
						<script id="person_com_expr" type="text/x-jquery-tmpl">
						{{each(i,v) data}}
						<li>
							<ul class="investor_case_ul">
								<li>
									<div class="investor_case_ul_img">
										{{if projCode}}
										<a target="_blank"
											href="/project_qy.html?projCode=${projCode}">
											<img src="${Constants.logoPath}project/${projCode}.png"">
										</a>
										{{else}}
											<img src="${Constants.logoPath}project/${projCode}.png"">
										{{/if}}
									</div>
									<div class="investor_case_ul_cen">
										<div class="investor_case_ul_cen_1">
										{{if projCode}}
											<a target="_blank" href="/project_qy.html?projCode=${projCode}">
											${projTitle}
											</a>
										{{else}}
											${projTitle}
										{{/if}}
										</div>
										<div class="investor_case_ul_cen_2">
										{{if latestFinanceRound}}
											${latestFinanceRound}
										{{else}}
											轮次未知
										{{/if}}
										<span>/</span>
										{{if latestFinanceAmountStr && latestFinanceAmountStr!='未透露'}}
											${latestFinanceAmountStr}
										{{else}}
											金额未知
										{{/if}}
										</div>
										<div class="investor_case_ul_cen_3">
										<span>
										{{if industryName}}
											${industryName}
										{{else}}
											行业未知
										{{/if}}
										</span></div>
										<div class="investor_case_ul_cen_time">
											{{if projSetUpDT}}
												${projSetUpDT}
											{{else}}
												时间未知
											{{/if}}
										</div>
									</div>
								</li>
								<li>
								<div class="investor_case_ul_div">
								{{if projIntroduce}}
									${projIntroduce}
								{{else}}
									描述未知
								{{/if}}
								</div>
								</li>
							</ul>
						</li>
						{{/each}}
						</script>
						{-raw-}
					</ul>
					<div class="project_more">
						<div class="dn_ico_more_all_click" style="display:none">
							<div class="dn_ico_more_al_divl" >
								加载更多<span class="dn_ico dn_ico_more"></span>
							</div>
						</div>
						<div class="dn_ico_more_all_click_show" style="display:none">
							<div class="dn_ico_more_al_divl">
								点击收起<span class="dn_ico dn_ico_more_show"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="background_boeder" scroll_on="gz" data-id="person_work_expr" data-url="queryPersonWorkExpr" >
				<div class="project_t">
					<span class="brain_ico brain_ico_project_crumbs"></span>工作经历
				</div>
				<div class="particulars_black">
					<input type="hidden" name = "type" value="I">
					<div class="blue_l_b startup_list">
						<ul>
							{-raw-}
							<script id="person_work_expr" type="text/x-jquery-tmpl">
							{{each(i,v) data}}
							<div class="blue_l_b_line"></div>
							<li>
								<div class="relative m_t5">
									<span class="circle_b"></span>
									<span class="startup_time">
										{{if period}}
											${period}
										{{else}}
											时间未知
										{{/if}}
									</span>
									<span>${projTitle}</span>
									{{if job && projTitle}}
									<span>|</span>
									{{/if}}
									<span>${job}</span>
								</div>
							</li>
							{{/each}}
							</script>
							{-raw-}
						</ul>
					</div>
					<!--<div class="dn_ico_more_all">
						<div class="dn_ico_more_al_divl">
							加载更多<span class="dn_ico dn_ico_more"></span>
						</div>
					</div>-->
				</div>
			</div>

			<div class="background_boeder" scroll_on="jy" data-id="person_edu_expr" data-url="queryPersonEduExpr" >
				<div class="project_t">
					<span class="brain_ico brain_ico_project_crumbs"></span>教育经历
				</div>
				<div class="particulars_black">
					<input type="hidden" name = "type" value="I">
					<div class="blue_l_b startup_list">
						<ul>
							{-raw-}
							<script id="person_edu_expr" type="text/x-jquery-tmpl">
							{{each(i,v) data}}
							<div class="blue_l_b_line"></div>
							<li>
								<div class="relative m_t5">
									<span class="circle_b"></span>
									<span class="startup_time">${v.period}</span>
									<span>${v.colleage}</span>
									{{if v.major && v.major!='<span></span>'}}
										<span>|</span>
										{{html v.major}}
									{{/if}}
								</div>
							</li>
							{{/each}}
							</script>
							{-raw-}
						</ul>
					</div>
					<!--	<div class="dn_ico_more_all">
                            <div class="dn_ico_more_al_divl">
                                加载更多<span class="dn_ico dn_ico_more"></span>
                            </div>
                        </div>-->
				</div>
			</div>
		</div>
	</div>
	{(dn_foot.html)}


<script src="js/jquery.tmpl.js"></script>
<script src="js/formatter_common.js"></script>
<script src="js/person_particulars.js"></script>
<script>
sendGetRequest(detail.queryInvestorBaseInfo+"/"+getHrefParamter("code"),
function(data){
 	$('#person_basic').tmpl(data.data).appendTo($('#header'))
    var intro=data.data.introduce
    if(intro !=''){
    	$('.project_nav').show();
 	   $("#person_intro_div").addClass('storey_list');
 	  $('.project_nav [scroll_on="jj"]').addClass('scroll_on');
 	  $('.project_nav [scroll_on="jj"]').show();
	  $("#person_intro_div").closest(".background_boeder").show()
	  if(intro.length>100&&intro.indexOf("nbsp")==-1){
		 $(".project_more").display='none';
	  }
	   	 $("#personIntro").html(intro)
    }
})
nav_locaton('ctsj','tzr','','')

function isFav(){
	var isFav=isCollection(3,getHrefParamter('code'))
	var fav_html=''
	if(isFav==true){
		fav_html+="<div class='search_collect click_collect dn_ico_list_collect_on' type=3 code='"+getHrefParamter('code')+"' ><span class='dn_ico dn_ico_list_collect_search '></span>收藏</div>"
	}else{
		fav_html+="<div class='search_collect click_collect' type=3 code='"+getHrefParamter('code')+"'><span class='dn_ico dn_ico_list_collect_search'></span>收藏</div>"
	}
	return fav_html
}
/* 菜单悬浮 */

$(window).scroll(function(){
	var scrollTop=$(window).scrollTop();
	if(scrollTop>200){
		$('.project_nav').addClass('project_nav_top');
	}else{
		$(".project_nav").removeClass("project_nav_top");
	}
	 var location_array = new Array()
	 for(var i=0; i<$('.storey_list').length; i++){
	 	var list_all = $('.storey_list').eq(i).attr('scroll_on');
	 	location_array.push(list_all);
	 }
	var  myArray=new Array();
	for(var i=0; i<location_array.length; i++){
		var obj = {};
		var name = location_array[i];
		obj.name = name;
		obj.value= parseInt($('div[scroll_on="'+location_array[i]+'"]').offset().top -70);
		myArray.push(obj);
	}
	 if(scrollTop>=myArray[0].value){
		 $('.project_nav').addClass('project_nav_top');
		 location_on(myArray,scrollTop)
	}else{
		$('.project_nav').removeClass("project_all_r_top");
	} 
});
function location_on(obj,scrollTop){
	for(var i=0; i<obj.length; i++){
		var j =i+1;
		if(j==obj.length){
			if(scrollTop >=obj[i].value){
				$('.project_nav li').removeClass('nav_on');
				$('.project_nav [scroll_on="'+obj[i].name+'"]').addClass('nav_on');
			}
		}else{
			if(scrollTop >=obj[i].value && scrollTop<obj[j].value){
				$('.project_nav li').removeClass('nav_on');
				$('.project_nav [scroll_on="'+obj[i].name+'"]').addClass('nav_on');
			}
		}

	}
}
//点击滚动
$('body').delegate('.project_nav li','click',function(event){
	var _this=$(this);
	event.stopPropagation();
	var location_r = $(this).attr('scroll_on');
	var location_value = $('div[scroll_on="'+location_r+'"]').offset().top-50;
	$("html,body").animate({scrollTop:location_value},300);
	setTimeout(function(){
		_this.addClass("nav_on").siblings().removeClass("nav_on")
	},300)
})
</script>
</body>
</html>
