<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>企业详情-企业信息</title>
	<!--basis-->
	{(basis.html)}
</head>

<body>
{(header.html)}
<div class="container">
	<div class="particulars_all">
		{(project_header.html)}

		<div class="project_all">
			<div class="project_all_l">
			<!-- 企业图谱-->
			<div class="background_boeder">
			<div class="project_t"><span class="brain_ico brain_ico_project_crumbs"></span>企业图谱</div>
			<div class="particulars_black">
				
				<div id="eacharts_in" class="eacharts_in"></div>
			</div>
			</div>
			<!-- 工商信息-->
			<div class="background_boeder">
			<div class="project_t"><span class="brain_ico brain_ico_project_crumbs"></span>工商信息</div>
			<div class="particulars_black" data-query="businessInfo">
				<ul class="project_all_l_ul_50">
					<li>
						<span class="project_all_l_ul_50_left">公司全称：</span>
						<span data-field="company"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">英文全称：</span>
						<span data-field="companyEng"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">统一社会信用代码：</span>
						<span data-field="uniformSocialCreditCode"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">注册码：</span>
						<span data-field="registrationCode"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">组织机构代码：</span>
						<span data-field="organizationCode"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">经营状态：</span>
						<span data-field="managementStatus"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">组织形式：</span>
						<span data-field="organizationForm"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">成立日期：</span>
						<span data-field="foundDate"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">法人代表：</span>
						<span data-field="legalPerson"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">注册资本：</span>
						<span data-field="registeredCapital"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">营业期限：</span>
						<span data-field="businessTerm"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">登记机关：</span>
						<span data-field="registrationAuthority"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">发照日期：</span>
						<span data-field="issuingDate"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">公司规模：</span>
						<span data-field="companySize"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">所属行业：</span>
						<span data-field="industry"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">注册登记类型：</span>
						<span data-field="registrationType"></span>
					</li>
				</ul>
				<div class="project_all_l_ul_50_div">
					<span class="project_all_l_ul_50_left">注册地址：</span>
					<span data-field="registeredAddress"></span>
				</div>
				<div class="project_all_l_ul_50_div m_t10">
					<span class="project_all_l_ul_50_left">经营范围：</span>
					<span data-field="businessScope"></span>
				</div>
			</div>
			</div>
			<!-- 股东信息 -->
			<div class="background_boeder">
			<div class="project_t"><span class="brain_ico brain_ico_project_crumbs"></span>股东信息<div class="list_on_fr">单位：百万人民币</div></div>
			<div class="particulars_black">
				<table class=" particulars_table_list">
						<thead>
							<tr>
								<th ><div>股东类型</div></th>
								<th><div class="border_l">股东</div></th>
								<th><div class="border_l">认缴出资时间</div></th>
								<th><div class="border_l">认缴出资金额</div></th>
								<th><div class="border_l">实缴出资时间</div></th>
								<th><div class="border_l">实缴出资金额</div></th>
								<th><div class="border_l">出资方式</div></th>
								<th><div class="border_l">所占股份</div></th>
							</tr>
						</thead>
						<tbody data-query="list" data-formatter="projectShareholderInfoList">

						</tbody>
					</table>
			</div>
			</div>
			<!-- 工商变更 -->
			<div class="background_boeder">
			<div class="project_t"><span class="brain_ico brain_ico_project_crumbs"></span>工商变更</div>
			<div class="particulars_black">
				<table class="particulars_table_list_project particulars_table_list m_t5">
						<thead>
							<tr>
								<th class=""><div>变更事项</div></th>
								<th><div class="">变更前内容</div></th>
								<th><div class="">变更后内容</div></th>
								<th class=""><div class="">变更日期</div></th>
							</tr>
						</thead>
						<tbody data-query="list" data-formatter="projectBusinessChangeList">

						</tbody>
					</table>
				
			</div>
			</div>
			<!-- 任职人员 -->
			<div class="background_boeder">
				<div class="project_t"><span class="brain_ico brain_ico_project_crumbs"></span> 任职人员</div>
				<div class="particulars_black">
					<ul class="job_all">
						{-raw-}
						<script id="getAllCompMember" type="text/x-jquery-tmpl">
							{{if data.length >0}}
								{{each(i,v) data}}
									<li>
									<span class="job_bj">${v.compJob}</span><span>${v.memberName}</span>
									</li>
								{{/each}}
							{{else}}
								<span>暂无数据</span>
							{{/if}}
							</script>
						{-raw-}
					</ul>
					
				</div>
			</div>
			<!-- 子公司 -->
			<div class="background_boeder" data-id="getAllCompSubs" data-url="getAllCompSubs">
				<div class="project_t"><span class="brain_ico brain_ico_project_crumbs"></span>子公司</div>
				<input type="hidden" name = "pageSize" value="8">
				<input type="hidden" name = "pageNo" value="1">
				<input type="hidden" name = "compCode" value="fafcecee262f35d997411d56e6ea7338">
				<div class="particulars_black">
					<ul class="company_all_qy">
						{-raw-}
						<script id="getAllCompSubs" type="text/x-jquery-tmpl">
							{{if data.records.length >0}}
								{{each(i,v) data.records}}
									<li>
									<span class="job_bj">${1}</span><span class="company_all_qy_r">${v.compSubFulltitle}</span>
									</li>
								{{/each}}
							{{else}}
								<span>暂无数据</span>
							{{/if}}
							</script>
						{-raw-}
					</ul>
					<div class="dn_ico_more_all"><div class="dn_ico_more_al_divl">加载更多<span class="dn_ico dn_ico_more"></span></div></div>
				</div>
			</div>
			<!-- 企业项目 -->
			<div class="background_boeder" data-id="queryByProjTitle" data-url="queryByProjTitle">
				<div class="project_t"><span class="brain_ico brain_ico_project_crumbs"></span>企业项目</div>
				<input type="hidden" name = "pageSize1" value="3">
				<input type="hidden" name = "pageNo" value="1">
				<input type="hidden" name = "compCode" value="0">
				<div class="porject_all_black">
					<div class="list-item">
                        <ul>
							{-raw-}
							<script id="queryByProjTitle" type="text/x-jquery-tmpl">
								{{if data.records.length >0}}
									{{each(i,v) data.records}}
										<li>
										<div class="list-item-inner">
										<div class="list-item-left"><a href="/project_qy.html?projCode=${v.projCode}"><img src="${v.logoSmall}"></a></div>
										<div class="list-item-right">
											<p class="list-item-title"><a target="_blank" href="/project_qy.html?projCode=${v.projCode}"><comp>${v.projTitle}</comp></a>
											{{if v.latestFinanceRound}}
												<span>${v.latestFinanceRound}</span></p>
											{{/if}}
											<p class="list-item-content">简介:${v.introduce}</p><p class="list-item-tips"><i class="list-item-address"></i>${v.districtSubName}<i class="list-item-finace"></i>
											 {{if v.industryName}}
											    ${v.industryName}>
											  {{/if}}
											 ${v.industrySubName}
											</p>
										</div>
										</div>
										<li>
									{{/each}}
								{{else}}
									<span>暂无数据</span>
								{{/if}}
								</script>
							{-raw-}
                        </ul>
                        <div class="dn_ico_more_all"><div class="dn_ico_more_al_divl">加载更多<span class="dn_ico dn_ico_more"></span></div></div>
                    </div>
				</div>
			</div>
			<!-- 对外投资-->
			<div class="background_boeder">
				<div class="project_t" location_l="location_lx"><span class="brain_ico brain_ico_project_crumbs"></span>对外投资</div>
				<div class="particulars_black">
					<table class=" particulars_table_list">
					<thead>
						<tr>
							<th ><div>时间</div></th>
							<th><div class="border_l">融资公司</div></th>
							<th><div class="border_l">轮次</div></th>
							<th><div class="border_l">融资额</div></th>
							<th><div class="border_l">投资方</div></th>
							<th><div class="border_l">详情</div></th>
						</tr>
					</thead>
					<tbody class="shgp" data-query="lists" data-formatter="projectInvestOthers">
					</tbody>
				</table>
				<!--<div class="dn_ico_more_all"><div class="dn_ico_more_al_divl">加载更多<span class="dn_ico dn_ico_more"></span></div></div>-->
				</div>
			</div>
			<!-- 联系方式 -->
			<div class="background_boeder">
				<div class="project_t" location_l="location_lx"><span class="brain_ico brain_ico_project_crumbs"></span>联系方式</div>
				<div class="particulars_black">
					<table class=" particulars_table_list m_t5">
						<thead>
							<tr>
								<th ><div></div></th>
								<th ><div>地址</div></th>
								<th><div class="border_l">邮编</div></th>
								<th><div class="border_l">公司电话</div></th>
								<th><div class="border_l">公司邮箱</div></th>
								<th><div class="border_l">传真</div></th>
							</tr>
						</thead>
						<tbody  data-query="listes" data-formatter="projectContactList">

						</tbody>
					</table>
				</div>
			</div>
			
			
		</div>
		<div class="project_all_r">
			<ul>
				<li class="project_all_r_on" location_r="location_jb"><span class="brain_ico brain_ico_project_circle"></span>基本信息</li>
				<li location_r="location_rz"><span class="brain_ico brain_ico_project_circle"></span>融资信息</li>
				<li location_r="location_cp"><span class="brain_ico brain_ico_project_circle"></span>产品信息 </li>
				<li location_r="location_td"><span class="brain_ico brain_ico_project_circle"></span>团队信息 </li>
				<li location_r="location_fz"><span class="brain_ico brain_ico_project_circle"></span>发展历史</li>
				<li location_r="location_ss"><span class="brain_ico brain_ico_project_circle"></span>上市挂牌</li>
				<li location_r="location_bg"><span class="brain_ico brain_ico_project_circle"></span>并购事件</li>
			<!--<li location_r="location_tc"><span class="brain_ico brain_ico_project_circle"></span>退出事件</li>
				<li location_r="location_zgs"><span class="brain_ico brain_ico_project_circle"></span>分支机构</li> -->
				<li location_r="location_lx"><span class="brain_ico brain_ico_project_circle"></span>联系方式</li>
				<li location_r="location_xw"><span class="brain_ico brain_ico_project_circle"></span>相关新闻</li>
			</ul>
		</div>
		</div>
	</div>
</div>
<script src="js/jquery.tmpl.js"></script>
<script src="js/echarts_3.2.3.js"></script>
<script src="js/fill_project_header.js"></script>
<script src="js/fillData_common.js"></script>
<script src="js/gsxx_particulars.js"></script>


</body>
</html>
