<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>企业详情-项目信息</title>
	<!--basis-->
	{(basis.html)}
</head>
<style>
	.highlight {
		color:#1ac4d3
	}
	comp{
		color:#1ac4d3
	}
</style>
<body>
{(header.html)}
<div class="container">
	<div class="particulars_all">
		{(project_header.html)}
		<div class="project_all">
			<div class="project_all_l">
				<!-- zhuo -->
				<!-- 基本信息-->
				<div class="background_boeder" style="display:none">
				<div class="project_t" location_l="location_jb"><span class="brain_ico brain_ico_project_crumbs"></span>项目描述</div>
				<div class="particulars_black">
					<ul class="project_all_l_ul">
						<li>
							<div class="font_14"></div>
							<p  class="color_666" id="firmDesc"></p>
							<div class="project_more" style="display:none">更多<span class="brain_ico brain_ico_project_more"></span></div>
						</li>
					</ul>
				</div>
				</div>

				<!-- 融资历史 -->
				<div class="background_boeder" data-id="investEvent" data-url="queryProjectInvestEvent" style="display:none">
				<div class="project_t" location_l="location_rz"><span class="brain_ico brain_ico_project_crumbs"></span>融资历史</div>
				<div class="particulars_black_rz" >
					<input type="hidden" name = "pageSize" value="2">
					<input type="hidden" name = "pageNo" value="0">
					<input type="hidden" name = "sourceCode">
					<div class="equity_trading_all list">
						<ul>
							<div class="border_equity_trading_l"></div>
							{-raw-}
							<script id="investEvent" type="text/x-jquery-tmpl">
								{{each(i,v) data}}
									<li>
										<div class="equity_trading_l">
											<spn class="dn_ico dn_ico_equity_trading_area"></spn>
											<span class="equity_trading_time">{{html formatDate(v.investDate)}}</span>
										</div>
										<div class="equity_trading_r">
											<spn class="dn_ico dn_ico_bj_lc"><span class="dn_ico_bj_lc_cen">
											{{if v.round && v.round !="不明确" }}
												${v.round}
											{{else}}
												轮次未知
											{{/if}}
											</span></spn>
											<div class="dn_ico_bj_lc_b">
												<ul>
													{{if v.amountStr}}
														<li><span class="dn_ico_bj_lc_b_l">融资金额 </span><span class="dn_ico_bj_lc_b_r">${v.amountStr}</span></li>
													{{/if}}
													{{if v.investSideJson != null}}
														<li><span class="dn_ico_bj_lc_b_l">投资方</span>
														{{html
															formatInvestSideJson(v)
														}}
														</li>
													{{else}}
														--
													{{/if}}
												</ul>
												<div class="dn_ico_bj_lc_b_xq"><a href='tzsj_particulars.html?eventId=${v.eventId}'>详情</a></div>
											</div>
										</div>
									</li>
								{{/each}}
							</script>
							{-raw-}
						</ul>
					</div>
				</div>
				</div>
				<!-- 产品信息 -->
				<div class="background_boeder" data-id ="product" data-url="products" style="display:none">
				<div class="project_t" location_l="location_cp"><span class="brain_ico brain_ico_project_crumbs"></span>产品信息<div class="fr" id="pro_num"></div></div>
				<div class="particulars_black">
					<input type="hidden" name = "code">
					<div class="photos">
					</div>
                    <!-- 把要轮播的地方写上来 -->
					<div class = "prodSrv" style="display:none">
						<div class="project_t_team">产品服务</div>
						<ul class="project_t_team_cen">
							<li id="prodSrv"> </li>
						</ul>
					</div>
					<div class = "userMarket" style="display:none">
						<div class="project_t_team">用户市场</div>
						<ul class="project_t_team_cen">
							<li id="userMarket"></li>
						</ul>
					</div>

					<div class="project_t_team" style="display:none">产品数据</div>
					<ul class="" id="product-ul">
						{-raw-}
						<script id="product" type="text/x-jquery-tmpl">
							{{html formatProduct(data)}}
						</script>
						{-raw-}
					</ul>
				</div>
				</div>
				<!-- 团队信息 -->
				<div class="background_boeder" data-id="team" data-url="queryProjectTeamByCode" style="display:none">
				<div class="project_t" location_l="location_td"><span class="brain_ico brain_ico_project_crumbs"></span>团队信息</div>
					<input type="hidden" name="projectCode" >
				<div class="teamTags" style="display:none">
					<div class="project_t_team">团队关键字</div>
					<ul class="project_t_team_ul" id="teamTags">
						<li>知名公司经历</li>
						<li>知名公司经历</li>
					</ul>
				</div>
				<div class="teamSuper" style="display:none">
					<div class="project_t_team">团队优势</div>
					<ul class="project_t_team_cen" id="teamSuper">
						<li>创始人宋广才：具有多年创业经验， 2006年创业至今，成功运营了多个创业项目，多年互联网从业经验，优势在于大团队的组建和管理运营，成本控制以及资金管理。</li>
						<li>后台开发工程师：刘铭： 多个项目的独立后台开发，有丰富的后台开发能力</li>
						<li>IOS工程师： 赵曾光， IOS前端开发，独立开发过多个互联网APP项目。</li>
						<li>Android开发工程：龚伟明， 5个以上的APP开发经验。</li>
					</ul>
				</div>
				<div class="project_t_team">团队成员</div>
				<div class="particulars_black" >
					<ul class="product_list_team" data-query="list" data-formatter="projectTeamList">
						{-raw-}
						<script id="team" type="text/x-jquery-tmpl">
						{{each(i,v) data}}
							<li>
								<div class="product_list_team_img_bj"><img src="${Constants.logoPath}${v.personCode}.png"/></div>
								<ul class="product_list_team_ul">
								 	<li class="team_color_font_3">${v.name}<span class="zw">${v.job}</span>
								 	{{if state ==0}}
								 		<span class="zw z_on">在职</span>
								 	{{else}}
								 		<span class="zw _no">离职</span>
								 	{{/if}}
								 	</li>
								 	<li class="team_color_font" >${v.college}<span>${v.edu}</span></li>
								 	<li class="team_color_font_2" title="${introduction}">${v.introduction}</li>
								 </ul>
						    </li>
						{{/each}}
						</script>
						{-raw-}
					</ul>
				</div>
				</div>
				<!-- 发展历史 -->
				<div class="background_boeder" data-id="eventHistory" data-url="queryProjectMediaInfoByCode" style="display:none">
				<div class="project_t" location_l="location_fz"><span class="brain_ico brain_ico_project_crumbs"></span>发展历史</div>
				<div class="particulars_black">
					<input type="hidden" name = "pageSize" value="3">
					<input type="hidden" name = "pageNo" value="1">
					<input type="hidden" name = "projectCode" >
					<input type="hidden" name = "type" value="H">
					<div class="blue_l_b">
						<ul data-query="list" data-formatter="historyList">
						<div class="blue_l_b_line"></div>
							{-raw-}
							<script id="eventHistory" type="text/x-jquery-tmpl">
								{{each(i,v) data.records}}
									<li>
										<div class="relative m_t5">
											<span class="circle_b"></span>
											<span>${v.content}</span>
										</div>
										<div class="color_999 relative">${v.date}</div>
									</li>
								{{/each}}
							</script>
							{-raw-}
						</ul>
					</div>
					<div class="dn_ico_more_all"><div class="dn_ico_more_al_divl">加载更多<span class="dn_ico dn_ico_more"></span></div></div>
				</div>
				</div>
				<!-- 上市挂牌 -->
				<div class="background_boeder" data-id ="launchEvent" data-url="queryProjectEventListed" style="display:none">
				<div class="project_t" location_l="location_ss"><span class="brain_ico brain_ico_project_crumbs"></span>上市挂牌</div>
				<div class="particulars_black">
					<input type="hidden" name = "sourceCode" >
					<table class=" particulars_table_list m_t5">
							<thead>
								<tr>
									<th style="width:30%"><div>公司</div></th>
									<th><div class="border_l">类型</div></th>
									<th><div class="border_l">交易所</div></th>
									<th><div class="border_l">股票代码</div></th>
									<th><div class="border_l">上市/挂牌时间</div></th>
									<th><div class="border_l">详情</div></th>
								</tr>
							</thead>
							<tbody data-query="list" data-formatter="eventListedInfoList" class="shgp">
							{-raw-}
							<script id="launchEvent" type="text/x-jquery-tmpl">
								{{each(i,v) data}}
									<tr>
										<td style="width:30%">
											<div class="list_table_td">
												<span>
													{{if v.logo}}
														<img height="37" width="37" src="{{html Constants.logoPath+v.logo }}">
													{{else}}
														<img height="37" width="37" src="img/default.gif">
													{{/if}}
												</span>
												<ul class="col_999">
													<li><a href="#">${projTitle}</a></li>
													<li>
														<span class="districtSubName">
															{{if districtSubName}}
																${v.districtSubName}
															{{else}}
																地区未知
															{{/if}}
														</span>
														<span class="industryName">
														{{if industryName}}
															${v.industryName}
														{{else}}
															行业未知
														{{/if}}
														</span>
													</li>
												</ul>
											</div>
										</td>
										<td>{{if v.type}} ${v.type}{{else}}--{{/if}}</td>
										<td>{{if v.stockExchange}} ${v.stockExchange}{{else}}--{{/if}}</td>
										<td>{{if v.stockCode}} ${v.stockCode}{{else}}--{{/if}}</td>
										<td>{{if v.listedDate}} {{html formatDate(v.listedDate, "yyyy-MM-dd")}} {{else}}--{{/if}}</td>
										<td><a href='ss_particulars.html?eventId=${v.eventId}'>详情</a> </td>
									</tr>
								{{/each}}
							</script>
							{-raw-}
							</tbody>
						</table>
				</div>
				</div>
				<!-- 并购事件 -->
				<div class="background_boeder" data-id ="mergeEvent" data-url="queryMergeEventBySourceCode" style="display:none">
				<div class="project_t" location_l="location_bg"><span class="brain_ico brain_ico_project_crumbs"></span>并购事件</div>
				<div class="particulars_black">
					<input type="hidden" name = "sourceCode" >
					<table class=" particulars_table_list m_t5">
							<thead>
								<tr>
									<th style="width:30%"><div>被并购方</div></th>
									<th><div class="border_l">股权比例</div></th>
									<th><div class="border_l">金额</div></th>
									<th><div class="border_l">并购方</div></th>
									<th><div class="border_l">并购时间</div></th>
									<th><div class="border_l">详情</div></th>
								</tr>
							</thead>
							<tbody  data-query="list" data-formatter="eventMergerInfoList">
							{-raw-}
							<script id="mergeEvent" type="text/x-jquery-tmpl">
								{{each(i,v) data}}
									<tr>
										<td style="width:30%">
											<div class="list_table_td">
												<span>
													{{if v.logo}}
														<img height="37" width="37" src="{{html Constants.logoPath+v.logo }}">
													{{else}}
														<img height="37" width="37" src="img/default.gif">
													{{/if}}
												</span>
												<ul class="col_999">
													<li><a href="#">${projTitle}</a></li>
														<li>
														<label class="name">
															{{if districtSubName}}
																${v.districtSubName}
															{{else}}
																地区未知
															{{/if}}
														</label>
														<label class="name">
														{{if industryName}}
															${v.industryName}
														{{else}}
															行业未知
														{{/if}}
														</label>
													</li>
												</ul>
											</div>
										</td>
										<td>{{if v.equityRate}} ${v.equityRate}{{else}}未透露{{/if}}</td>
										<td>{{if v.amountStr}} ${v.amountStr}{{else}}未透露{{/if}}</td>
										<td>{{if v.mergeSideJson}} {{html formatMergeSideJson(v) }}{{else}}--{{/if}}</td>
										<td>{{if v.mergeDate}} {{html formatDate(v.mergeDate, "yyyy-MM-dd") }}{{else}}--{{/if}}</td>
										<td><a href='bg_particulars.html?eventId=${v.eventId}'>详情</a></td>
									</tr>
								{{/each}}
							</script>
							{-raw-}
							</tbody>
						</table>
				</div>
				</div>
				<!-- 相关新闻 -->
				<div class="background_boeder" data-id = "news" data-url="news" style="display:none">
				<div class="project_t" location_l="location_xw"><span class="brain_ico brain_ico_project_crumbs"></span>相关新闻</div>
				<div class="particulars_black">
					<input type="hidden" name = "pageSize" value="2">
					<input type="hidden" name = "pageNo" value="1">
					<input type="hidden" name = "typeId" value="0">
					<input type="hidden" name = "keyword"  value="">
					<div class="dn_info_list">
						{-raw-}
						<script id="news" type="text/x-jquery-tmpl">
								{{each(i,v) data.records}}
								<li>
									{{if v.imgmd5}}
										<div class="dn_info_list_show">
									{{else}}
										<div class="dn_info_list_show no_img_project">
									{{/if}}
									<div class="dn_info_list_tit"><a href = "${v.href}"  target="_blank" k>{{html v.title}}</a></div>
									{{if v.imgmd5}}
										<div class="dn_info_list_show_l"><img src="{{html Constants.logoPath+"news/"+v.imgmd5}}"></div>
									{{/if}}
									<div class="dn_info_list_show_r">
										<ul>
											<li class="dn_info_list_cen">{{html v.overview}}</li>
											<li class="dn_info_list_ic"><span>${formatNewsTime(v.orderTime)}</span><span>来源：</span><span>${v.auther}</span></li>
										</ul>
									</div>
									</div>
								</li>
								{{/each}}
							</script>
						{-raw-}
					</div>
					<div class="dn_ico_more_all"><div class="dn_ico_more_al_divl">加载更多<span class="dn_ico dn_ico_more"></span></div></div>
					<ul class="project_new" data-query="list" data-formatter="newsList">

					</ul>
				</div>
				</div>
				<!-- z end -->
			</div>

		
		<div class="project_all_r">
			<ul>
				<li class="project_all_r_on none" location_r="location_jb"><span class="brain_ico brain_ico_project_circle"></span>项目描述</li>
				<li class="none" location_r="location_rz"><span class="brain_ico brain_ico_project_circle"></span>融资历史</li>
				<li class="none" location_r="location_cp"><span class="brain_ico brain_ico_project_circle"></span>产品信息 </li>
				<li  class="none" location_r="location_td"><span class="brain_ico brain_ico_project_circle"></span>团队信息 </li>
				<li  class="none" location_r="location_fz"><span class="brain_ico brain_ico_project_circle"></span>发展历史</li>
				<li class="none" location_r="location_ss"><span class="brain_ico brain_ico_project_circle"></span>上市挂牌</li>
				<li class="none" location_r="location_bg"><span class="brain_ico brain_ico_project_circle"></span>并购事件</li>
			<!--<li location_r="location_tc"><span class="brain_ico brain_ico_project_circle"></span>退出事件</li>
				<li location_r="location_zgs"><span class="brain_ico brain_ico_project_circle"></span>分支机构</li> -->
				<li class="none" location_r="location_lx"><span class="brain_ico brain_ico_project_circle"></span>联系方式</li>
				<li class="none" location_r="location_xw"><span class="brain_ico brain_ico_project_circle"></span>相关新闻</li>
			</ul>
		</div>
	</div>
</div>
{(dn_foot.html)}
<script src="js/fill_project_header.js"></script>
<script src="js/jquery.tmpl.js"></script>
<script src="js/project_qy.js"></script>
<!-- 轮播图 -->
<script src="js/slider/jquery.bxslider.js"></script>
<link rel="stylesheet" type="text/css" href="js/slider/jquery.bxslider.css">
<script type="text/javascript">

        $(document).ready(function(){
          $('.slider6').bxSlider({

			mode: 'fade',

            slideWidth: 600, 

            slideMargin: 10

          });

        });

    </script>
<script>
//给tab页a赋参数
$(function(){
 //团队信息两行显示
 $(".product_list_team_ul").each(function(){
	 var con=$(this).find("li:last").text();
	 var len=con.length;
	 if(len>60){
		 $(this).find("li:last").text(con.substring(0,60)+"...")
	 }else{
		 $(this).find("li:last").text(con)
	 }
 })
 //新闻超过10条显示滚动条
 $(".project_new").each(function(){
		var len=$(this).find("li").length;
		var sum=0;
		if(len>9){
			for(var i=0;i<10;i++){
				sum+=$(this).find("li").eq(i).height()+15;
			}
			$(this).css({"overflow-y":"auto"});
		}else{
			for(var i=0;i<len;i++){
				sum+=$(this).find("li").eq(i).height()+15;
			}
			$(this).css({"overflow-y":"hidden"});
		}
		$(this).css({"height":sum});
	})
	//超过10条显示滚动条
	$(".particulars_table_list").each(function(){
		var len=$(this).find("tbody tr").length;
		var sum=0;
		for(var i=0;i<10;i++){
			sum+=$(this).find("tbody tr").eq(i).height();
		}
		$(this).find("tbody").css({"height":sum});
		if(len<10){
			$(this).find("tbody").css({"overflow-y":"hidden"});
		}else{
			$(this).find("tbody").css({"overflow-y":"auto"});
		}
	})
	//融资信息过长截断显示
	$(".invstorName").each(function(){
		var len=$(this).text().length;
		  if(len>10){
			  $(this).text($(this).text().substring(0,10)+"...")
		  }else{
			  $(this).text($(this).text())
		  }
	})
	//发展历史条数
	var len=$("ul[data-formatter=\"historyList\"] li").length;
    if(len>4){
    	$(".project_click_show").show();
    }else{
    	$(".project_click_show").hide();
    }
})
/* 菜单悬浮 */

 $(window).scroll(function(){
	 var scrollTop=$(window).scrollTop();
		if(scrollTop>305){
			$('.project_nav').addClass('project_nav_top');
			$('.project_nav_top_none').show();
		}else{
			$(".project_nav").removeClass("project_nav_top");
			$('.project_nav_top_none').hide();
		}
	 var location_array = new Array()
	 for(var i=0; i<$('.project_all_l .storey_list').length; i++){
	 	var list_all = $('.project_all_l .storey_list').eq(i).attr('location_l');
	 	location_array.push(list_all);
	 }
	var  myArray=new Array();
	for(var i=0; i<location_array.length; i++){
		var obj = {};
		var name = location_array[i];
		obj.name = name;
		obj.value= parseInt($('[location_l="'+location_array[i]+'"]').offset().top -70);
		myArray.push(obj);
	}
	if(scrollTop>=myArray[0].value){
		$('.project_all_r').addClass('project_all_r_top');
		 location_on(myArray,scrollTop)
	}else{
		$(".project_all_r").removeClass("project_all_r_top");
	}
});
function location_on(obj,scrollTop){
	for(var i=0; i<obj.length; i++){
		var j =i+1;
		if(j==obj.length){
			if(scrollTop >=obj[i].value){
				$('.project_all_r li').removeClass('project_all_r_on');
				$('[location_r="'+obj[i].name+'"]').addClass('project_all_r_on');
			}
		}else{
			if(scrollTop >=obj[i].value && scrollTop<obj[j].value){
				$('.project_all_r li').removeClass('project_all_r_on');
				$('[location_r="'+obj[i].name+'"]').addClass('project_all_r_on');
			}
		}

	}
}
//右边浮动
$('body').delegate('.project_all_r li','click',function(event){
	var _this=$(this);
	event.stopPropagation();
	var location_r = $(this).attr('location_r');
	var location_value = $('[location_l="'+location_r+'"]').offset().top-50;
	$("html,body").animate({scrollTop:location_value},300);
	setTimeout(function(){
		_this.addClass("project_all_r_on").siblings().removeClass("project_all_r_on")
	},300)
})
//更多
$('body').delegate('.project_more','click',function(event){
	event.stopPropagation();
	$(this).hide();
	$(this).parent().children('.color_666').css('height','auto')
})
//project_click_show发展历史

$('body').delegate('.project_click_show','click',function(event){
	event.stopPropagation();
	$(this).hide();
	$('.blue_l_b .blue_l_b_three').show();
})
nav_locaton('ctsj','qyxm','','qyxx')
</script>
</body>
</html>
