<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>企业详情-企业信息</title>
	<!--basis-->
	{(basis.html)}
</head>

<body>
{(header.html)}
<div class="container">
	<div class="particulars_all">
		{(project_header.html)}

		<div class="project_all">
			<div class="project_all_l">
			<!-- 企业图谱-->
			<div class="background_boeder" id="qytp">
			<div class="project_t storey_list" location_l="location_tp"><span class="brain_ico brain_ico_project_crumbs"></span>企业图谱</div>
			<div class="particulars_black">
				
				<div id="eacharts_in" class="eacharts_in"></div>
			</div>
			</div>
			<!-- 工商信息-->
			<div class="background_boeder" id="gsxx">
                <div class="project_t storey_list" location_l="location_gs"><span class="brain_ico brain_ico_project_crumbs"></span>工商信息</div>
                <div class="particulars_black" data-query="businessInfo">
				<ul class="project_all_l_ul_50">
					<li>
						<span class="project_all_l_ul_50_left">公司全称：</span>
						<span data-field="company"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">英文全称：</span>
						<span data-field="companyEng"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">统一社会信用代码：</span>
						<span data-field="uniformSocialCreditCode"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">注册码：</span>
						<span data-field="registrationCode"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">组织机构代码：</span>
						<span data-field="organizationCode"> </span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">经营状态：</span>
						<span data-field="managementStatus"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">组织形式：</span>
						<span data-field="organizationForm"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">成立日期：</span>
						<span data-field="foundDate"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">法人代表：</span>
						<span data-field="legalPerson"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">注册资本：</span>
						<span data-field="registeredCapital"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">营业期限：</span>
						<span data-field="businessTerm"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">登记机关：</span>
						<span data-field="registrationAuthority"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">发照日期：</span>
						<span data-field="issuingDate"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">公司规模：</span>
						<span data-field="companySize"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">所属行业：</span>
						<span data-field="industry"></span>
					</li>
					<li>
						<span class="project_all_l_ul_50_left">注册登记类型：</span>
						<span data-field="registrationType"></span>
					</li>
				</ul>
				<div class="project_all_l_ul_50_div">
					<span class="project_all_l_ul_50_left">注册地址：</span>
					<span data-field="registeredAddress"></span>
				</div>
				<div class="project_all_l_ul_50_div m_t10">
					<span class="project_all_l_ul_50_left">经营范围：</span>
					<span data-field="businessScope"></span>
				</div>
			</div>
			</div>
			<!-- 股东信息 -->
			<div class="background_boeder" id="shareholder">
			<div class="project_t storey_list" location_l="location_gd"><span class="brain_ico brain_ico_project_crumbs"></span>股东信息</div>
			<div class="particulars_black">
				<table class=" particulars_table_list">
						<thead>
							<tr>
								<th ><div>股东类型</div></th>
								<th><div class="border_l">股东</div></th>
								<th><div class="border_l">认缴出资时间</div></th>
								<th><div class="border_l">认缴出资金额</div></th>
								<th><div class="border_l">实缴出资时间</div></th>
								<th><div class="border_l">实缴出资金额</div></th>
								<th><div class="border_l">出资方式</div></th>
								<th><div class="border_l">所占股份</div></th>
							</tr>
						</thead>
						<tbody data-query="list" data-formatter="projectShareholderInfoList">

						</tbody>
					</table>
			</div>
			</div>
			<!-- 工商变更 -->
			<div class="background_boeder" id="changes">
			<div class="project_t storey_list" location_l="location_bg"><span class="brain_ico brain_ico_project_crumbs"></span>工商变更</div>
			<div class="particulars_black">
				<table class="particulars_table_list_project particulars_table_list m_t5">
						<thead>
							<tr>
								<th class=""><div>变更事项</div></th>
								<th><div class="">变更前内容</div></th>
								<th><div class="">变更后内容</div></th>
								<th class="wid_time"><div class="">变更日期</div></th>
							</tr>
						</thead>
						<tbody data-query="list" data-formatter="projectBusinessChangeList">

						</tbody>
					</table>
				
			</div>
			</div>
			<!-- 任职人员 -->
			<div class="background_boeder" id="members">
				<div class="project_t storey_list" location_l="location_rz"><span class="brain_ico brain_ico_project_crumbs"></span> 任职人员</div>
				<div class="particulars_black">
					<ul class="job_all">
						{-raw-}
						<script id="getAllCompMember" type="text/x-jquery-tmpl">
							{{if data.length >0}}
								{{each(i,v) data}}
									<li>
									<span class="job_bj">${v.compJob}</span><span>${v.memberName}</span>
									</li>
								{{/each}}
							{{else}}
								<span>暂无数据</span>
							{{/if}}
							</script>
						{-raw-}
					</ul>
					
				</div>
			</div>
			<!-- 子公司 -->
			<div class="background_boeder" data-id="getAllCompSubs" data-url="getAllCompSubs">
				<div class="project_t storey_list" location_l="location_zgs"><span class="brain_ico brain_ico_project_crumbs"></span>子公司</div>
				<input type="hidden" name = "pageSize" value="8">
				<input type="hidden" name = "pageNo" value="1">
				<input type="hidden" name = "compCode" value="fafcecee262f35d997411d56e6ea7338">
				<div class="particulars_black">
					<ul class="company_all_qy">
						{-raw-}
						<script id="getAllCompSubs" type="text/x-jquery-tmpl">
									<li>
									<span class="job_bj">${$index+1}</span><span class="company_all_qy_r">${compSubFulltitle}</span>
									</li>
							</script>
						{-raw-}
					</ul>
					<div class="dn_ico_more_all"><div class="dn_ico_more_al_divl">加载更多<span class="dn_ico dn_ico_more"></span></div></div>
				</div>
			</div>
			<!-- 企业项目 -->
			<div class="background_boeder" data-id="queryByProjTitle" data-url="queryByProjTitle">
				<div class="project_t storey_list" location_l="location_xm"><span class="brain_ico brain_ico_project_crumbs"></span>企业项目</div>
				<input type="hidden" name = "pageSize" value="3">
				<input type="hidden" name = "pageNo" value="1">
				<input type="hidden" name = "compCode" value="0">
				<div class="porject_all_black">
					<div class="list-item">
                        <ul>
							{-raw-}
							<script id="queryByProjTitle" type="text/x-jquery-tmpl">
										<li>
										<div class="list-item-inner">
										<div class="list-item-left"><a href="/project_qy.html?projCode=${projCode}"><img src="${logoSmall}"></a></div>
										<div class="list-item-right">
											<p class="list-item-title"><a target="_blank" href="/project_qy.html?projCode=${projCode}"><comp>${projTitle}</comp></a>
											{{if latestFinanceRound}}
												<span>${latestFinanceRound}</span></p>
											{{/if}}
											<p class="list-item-content">简介:{{html introduce}}</p><p class="list-item-tips"><i class="list-item-address"></i>${districtSubName}
											 {{if industryName}}
											 	<i class="list-item-finace"></i>
											    ${industryName}>
											  {{/if}}
											 ${industrySubName}
											</p>
										</div>
										</div>
										<li>
								</script>
							{-raw-}
                        </ul>
                        <div class="dn_ico_more_all"><div class="dn_ico_more_al_divl">加载更多<span class="dn_ico dn_ico_more"></span></div></div>
                    </div>
				</div>
			</div>
			<!-- 对外投资-->
			<div class="background_boeder" id="dwtz">
				<div class="project_t storey_list" location_l="location_dw"><span class="brain_ico brain_ico_project_crumbs"></span>对外投资</div>
				<div class="particulars_black">
					<table class=" particulars_table_list">
					<thead>
						<tr>
							<th ><div>时间</div></th>
							<th><div class="border_l">融资公司</div></th>
							<th><div class="border_l">轮次</div></th>
							<th><div class="border_l">融资额</div></th>
							<th><div class="border_l">投资方</div></th>
							<th><div class="border_l">详情</div></th>
						</tr>
					</thead>
					<tbody class="shgp" data-query="lists" data-formatter="projectInvestOthers">
					</tbody>
				</table>
				<!--<div class="dn_ico_more_all"><div class="dn_ico_more_al_divl">加载更多<span class="dn_ico dn_ico_more"></span></div></div>-->
				</div>
			</div>
			<!-- 联系方式 -->
			<div class="background_boeder" id="contacts">
				<div class="project_t storey_list" location_l="location_lx"><span class="brain_ico brain_ico_project_crumbs"></span>联系方式</div>
				<div class="particulars_black">
					<table class=" particulars_table_list m_t5">
						<thead>
							<tr>
								<th ><div></div></th>
								<th ><div>地址</div></th>
								<th><div class="border_l">邮编</div></th>
								<th><div class="border_l">公司电话</div></th>
								<th><div class="border_l">公司邮箱</div></th>
								<th><div class="border_l">传真</div></th>
							</tr>
						</thead>
						<tbody  data-query="listes" data-formatter="projectContactList">

						</tbody>
					</table>
				</div>
			</div>
			
			
		</div>
		<div class="project_all_r">
			<ul>
				<li class="project_all_r_on storey_list" location_r="location_tp"><span class="brain_ico brain_ico_project_circle"></span>企业图谱</li>
				<li class="storey_list" location_r="location_gs"><span class="brain_ico brain_ico_project_circle"></span>工商信息</li>
				<li class="storey_list" location_r="location_gd"><span class="brain_ico brain_ico_project_circle"></span>股东信息 </li>
				<li class="storey_list" location_r="location_bg"><span class="brain_ico brain_ico_project_circle"></span>工商变更 </li>
				<li class="storey_list" location_r="location_rz"><span class="brain_ico brain_ico_project_circle"></span>任职人员</li>
				<li class="storey_list" location_r="location_zgs"><span class="brain_ico brain_ico_project_circle"></span>子公司</li>
				<li class="storey_list" location_r="location_xm"><span class="brain_ico brain_ico_project_circle"></span>企业项目</li>
			<!--<li location_r="location_tc"><span class="brain_ico brain_ico_project_circle"></span>退出事件</li>
				<li location_r="location_zgs"><span class="brain_ico brain_ico_project_circle"></span>分支机构</li> -->
                <li class="storey_list" location_r="location_dw"><span class="brain_ico brain_ico_project_circle"></span>对外投资</li>
                <li class="storey_list" location_r="location_lx"><span class="brain_ico brain_ico_project_circle"></span>联系方式</li>
			</ul>
		</div>
		</div>
	</div>
</div>
<script src="js/jquery.tmpl.js"></script>
<script src="js/echarts_3.2.3.js"></script>
<script src="js/fill_project_header.js"></script>
<!--<script src="js/fillData_common.js"></script>-->
<script src="js/gsxx_hide.js"></script>
<script src="js/gsxx_particulars.js"></script>


<script>
    /* 菜单悬浮 */

 $(window).scroll(function(){
	 var scrollTop=$(window).scrollTop();
		if(scrollTop>305){
			$('.project_nav').addClass('project_nav_top');
			$('.project_nav_top_none').show();
		}else{
			$(".project_nav").removeClass("project_nav_top");
			$('.project_nav_top_none').hide();
		}
	 var location_array = new Array()
	 for(var i=0; i<$('.project_all_l .storey_list').length; i++){
	 	var list_all = $('.project_all_l .storey_list').eq(i).attr('location_l');
	 	location_array.push(list_all);
	 }
	var  myArray=new Array();
	for(var i=0; i<location_array.length; i++){
		var obj = {};
		var name = location_array[i];
		obj.name = name;
		obj.value= parseInt($('[location_l="'+location_array[i]+'"]').offset().top -70);
		myArray.push(obj);
	}
	if(scrollTop>=myArray[0].value){
		$('.project_all_r').addClass('project_all_r_top');
		 location_on(myArray,scrollTop)
	}else{
		$(".project_all_r").removeClass("project_all_r_top");
	}
});
function location_on(obj,scrollTop){
	for(var i=0; i<obj.length; i++){
		var j =i+1;
		if(j==obj.length){
			if(scrollTop >=obj[i].value){
				$('.project_all_r li').removeClass('project_all_r_on');
				$('[location_r="'+obj[i].name+'"]').addClass('project_all_r_on');
			}
		}else{
			if(scrollTop >=obj[i].value && scrollTop<obj[j].value){
				$('.project_all_r li').removeClass('project_all_r_on');
				$('[location_r="'+obj[i].name+'"]').addClass('project_all_r_on');
			}
		}

	}
}
//右边浮动
$('body').delegate('.project_all_r li','click',function(event){
	var _this=$(this);
	event.stopPropagation();
	var location_r = $(this).attr('location_r');
	var location_value = $('[location_l="'+location_r+'"]').offset().top-50;
	$("html,body").animate({scrollTop:location_value},300);
	setTimeout(function(){
		_this.addClass("project_all_r_on").siblings().removeClass("project_all_r_on")
	},300)
})
nav_locaton('ctsj','qyxm','','gsxx')
</script>
</body>
</html>
