<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>创业者详情</title>
<!--basis-->
{(basis.html)}
</head>
<style>
.highlight {
	color: #1ac4d3
}

comp {
	color: #1ac4d3
}
</style>
<body>
	{(header.html)}
	<div class="container">
		<div class="particulars_all">
			<div id="header">
			</div>
			{-raw-}
			<script  id="person_basic" type="text/x-jquery-tmpl">
			<div class="startup_xq search_list_people" >
				<div class="list-item-inner">
					<div class="list-item-left">
						<img src="${Constants.logoPath}person/${code}.png"/>
					</div>
					<div class="list-item-right">
						<div class="list-item-title">
							<a target="_blank"
								href="/startup_xq.html?code=${code}">${zhName}</a>
						</div>
						<div class="search_list_people_wn">${enName}</div>
						<div class="search_list_people_list">
							<ul>
								{{if projTitle}}
								<li>
									<div class="search_list_people_list_r">
										<a target="_blank" href="/project_qy.html/?projCode=${projCode}">${projTitle}</a>
									</div>
								</li>
								{{/if}}
								{{if job}}
									<li>${job}</li>
								{{/if}}
								<li>
									<div class="search_list_people_list_r">
										<em>${colleage}</em> <em>${degree}</em>
									</div>
								</li>
								{{if districtSubName}}
								<li>
									<span><i class="list-item-address"></i>${districtSubName}</span>
								</li>
								{{/if}}
							</ul>
						</div>
						<div class="search_collect">
								{{html isFav}}
						</div>
					</div>
				</div>

			</div>
			<div class="project_nav">
				<ul>
					<li class="nav_on"><span>创业者简历</span></li>
					<li><span>创业经历</span></li>
					<li><span>工作经历</span></li>
					<li><span>教育经历</span></li>
				</ul>
			</div>

			<div class="background_boeder"  >
				<div class="project_t storey_list">
					<span class="brain_ico brain_ico_project_crumbs"></span>创业者简介
				</div>
				<div class="particulars_black">
					<ul class="project_all_l_ul">
						<li>
							<div class="font_14"></div>
							<p class="color_666" id="personIntro">${introduce}</p>
							<div class="project_more">
								<div class="dn_ico_more_all_click"  style="display: none;">
									<div class="dn_ico_more_al_divl">
										加载更多<span class="dn_ico dn_ico_more"></span>
									</div>
								</div>
								<div class="dn_ico_more_all_click_show" style="display: none;">
									<div class="dn_ico_more_al_divl">
										点击收起<span class="dn_ico dn_ico_more_show"></span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			</script>
			{-raw-}
			<div class="background_boeder" data-id="person_com_expr" data-url="queryPersonComExpr">
				<div class="project_t storey_list">
					<span class="brain_ico brain_ico_project_crumbs"></span>创业经历
				</div>
				<div class="particulars_black">
					<input type="hidden" name = "type" value="S">
					<ul class="startup_come_ul">
						{-raw-}
						<script id="person_com_expr" type="text/x-jquery-tmpl">
						{{each(i,v) data}}
						<li>
							<div class="startup_come_ul_tit">
								{{if v.projTitle}}
									<a target="_blank" href="/project_qy.html?projCode=${v.projCode}">${v.projTitle}</a>
								{{else}}
									名称未知
								{{/if}}

							</div>
							<div class="startup_come_ul_all">
								<div class="startup_come_ul_img"><a target="_blank" href="/project_qy.html?projCode=${v.projCode}"><img src="${Constants.logoPath}project/${v.projCode}.png"></a></div>
								<div class="startup_come_ul_cen">
									<div class="startup_come_w">
										<a target="_blank" href="###">
											{{if v.projUrl}}
												${v.projUrl}
											{{else}}
												--
											{{/if}}
										</a>
									</div>
									<div class="startup_come_left">
										<span>行业：</span>
										<span class="span_startup">
											{{if v.industryName}}
												${v.industryName}
											{{else}}
												--
											{{/if}}
										</span>
										<span>参与情况：</span>
										<span>
											{{if v.jobPeriod}}
												${v.jobPeriod}
											{{else}}
												--
											{{/if}}
											{{if v.job}}
												<em>|</em>
												${v.job}
											{{else}}
												{{if v.jobPeriod}}
												--
												{{/if}}
											{{/if}}
										</span>
									</div>
									<div class="startup_come_left">
										<span>地区：</span>
										<span class="span_startup">
											{{if v.districtSubName}}
												${v.districtSubName}
											{{else}}
												--
											{{/if}}
										</span>
										<span>融资情况：</span>
											<span>最近融资轮次</span>
											{{if v.latestFinanceRound }}
												<em class="color_startup">${v.latestFinanceRound}</em>
											{{else}}
												--
											{{/if}}
												<span>,获投总额</span>
											{{if v.latestFinanceAmountStr}}
												<em class="color_startup">${latestFinanceAmountStr}</em>
											{{else}}
												--
											{{/if}}
									</div>
									<div class="startup_come_m">
											<span>项目概述:</span>
											{{if v.projIntroduce}}
												${v.projIntroduce}
											{{else}}
												--
											{{/if}}
									</div>
								</div>
							</div>
						</li>
						{{/each}}
						</script>
						{-raw-}
					</ul>
				</div>
			</div>

			<div class="background_boeder" data-id="person_work_expr" data-url="queryPersonWorkExpr" >
				<div class="project_t storey_list">
					<span class="brain_ico brain_ico_project_crumbs"></span>工作经历
				</div>
				<div class="particulars_black">
					<input type="hidden" name = "type" value="S">
					<div class="blue_l_b startup_list">
						<ul>
							{-raw-}
							<script id="person_work_expr" type="text/x-jquery-tmpl">
							{{each(i,v) data}}
							<div class="blue_l_b_line"></div>
							<li>
								<div class="relative m_t5">
									<span class="circle_b"></span>
									<span class="startup_time">${period}</span>
									<span>${projTitle}</span>
									{{if job}}
									<span>|</span>
									{{/if}}
									<span>${job}</span>
								</div>
							</li>
							{{/each}}
							</script>
							{-raw-}
						</ul>
					</div>
					<!--<div class="dn_ico_more_all">
						<div class="dn_ico_more_al_divl">
							加载更多<span class="dn_ico dn_ico_more"></span>
						</div>
					</div>-->
				</div>
			</div>

			<div class="background_boeder" data-id="person_edu_expr" data-url="queryPersonEduExpr">
				<div class="project_t storey_list">
					<span class="brain_ico brain_ico_project_crumbs"></span>教育经历
				</div>
				<div class="particulars_black">
					<input type="hidden" name = "type" value="S">
					<div class="blue_l_b startup_list">
						<ul>
							{-raw-}
							<script id="person_edu_expr" type="text/x-jquery-tmpl">
							{{each(i,v) data}}
							<div class="blue_l_b_line"></div>
							<li>
								<div class="relative m_t5">
									<span class="circle_b"></span>
									<span class="startup_time">${v.period}</span>
									<span>${v.colleage}</span>
									{{if v.major}}
									<span>|</span>
									{{/if}}
									<span>${v.major}</span>
									{{if v.degree}}
									<span>|</span>
									{{/if}}
									<span>${v.degree}</span>
								</div>
							</li>
							{{/each}}
							</script>
							{-raw-}
						</ul>
					</div>
					<!--<div class="dn_ico_more_all">
						<div class="dn_ico_more_al_divl">
							加载更多<span class="dn_ico dn_ico_more"></span>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>
	{(dn_foot.html)}

<script src="js/jquery.tmpl.js"></script>
<script src="js/common.js"></script>
<script src="js/platformUrl.js"></script>
<script src="js/person_particulars.js"></script>
<script>
sendGetRequest(detail.queryStartUpBaseInfo+"/"+getHrefParamter("code"),
function(data){
    $('#person_basic').tmpl(data.data).appendTo($('#header'))
    var intro=data.data.introduce
    if(intro){
	  $("#personIntro").closest(".background_boeder").show()
	  if(intro.length>100&&intro.indexOf("nbsp")==-1){
		 $(".project_more").display='none';
	  }
	   	 $("#personIntro").html(intro)
    }
})
function isFav(){
	var isFav=getHrefParamter("isFav")
	var fav_html=""
	if(isFav==1){
		fav_html+="<span class='dn_ico dn_ico_list_collect_search dn_ico_list_collect_on'></span>收藏"
	}else{
		fav_html+="<span class='dn_ico dn_ico_list_collect_search'></span>收藏"
	}
	return fav_html
}
nav_locaton('ctsj','cyz','','')
</script>
</body>
</html>