@charset "utf-8";
/* CSS Document */
body{font-size:14px; font-family:"微软雅黑" !important;background-color: #fff; color:#333;}
/*css-reset*/
button {outline: none !important;}
html,body,div,ul,ol,li,dl,dt,dd,p,span,em,strong,b,i,h1,h2,h3,h4,form,input,button,textarea,select,option,img,a{ margin:0; padding:0}
ul,ol,dl,dt,dd,p,img{ display:block; border:0}
::-webkit-input-placeholder { color:#ccc;font-size:16px;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */　color:#999;　}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#999;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#999;}
a:focus{ -moz-outline-style: none; /* FF */ } 
.a_color{color:#2393f7 !important;}
li{ display:block; list-style:none}
textarea{resize: none;outline: none}
input{outline: none;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden }
.clearfix {zoom: 1;}
a{text-decoration:none;}
*{margin:0;padding:0;}