header{position:fixed;top:0px;left:0px;width:100%;height:90px;line-height:90px;background:#74829a;font-family:'Microsoft YaHei';color:#fff;}
.fl{float:left;}
.fr{float:right;}
.head-fl{margin-left:52px;font-size:24px;padding-left:46px;background:url('../img/header.png') no-repeat 0px 27px;;}
.head-fr{margin-right:33px;font-size:14px;color:#d0d3d7;}
.user-name{display:inline-block;width:30px;height:30px;margin-right: 10px;vertical-align:middle;background:url('../img/spirit.png') no-repeat -130px 0px;}
.content-box{width:100%;height:auto;margin-top:90px;}
.menu{background:#ffffff;border:1px solid #cccccc;width:138px;height:300px;}
.menu ul li{padding:14px 0px 14px 27px;border-left:6px solid #66b8f5;}
.menu ul li a{font-size:16px;color:#66b8f5;font-family:'Microsoft YaHei'}
.menu-icon{display:inline-block;width:21px;height:24px;vertical-align:middle;margin-right:13px;background:url('../img/spirit.png') no-repeat -171px 0px;}
.main-content{margin-left:176px;border:1px solid;margin-right:30px;}
.index-nav span{font-family:'Microsoft YaHei'}
.index-nav{padding:15px 0px;background:#e3eef6;min-width:1072px;}
.index-nav input{border:1px solid #acbbc6;border-radius:4px;height:38px;padding-left:11px;}
.index-nav-title{width:344px;padding-left:11px;}
.index-nav-time{width:100px;}
.index-search,.index-span-time{font-size:14px;color:#6b6b6b;padding-left:30px;padding-right:10px;}
.index-span-time{margin-left:43px;}
.index-line{display:inline-block;width:14px;height:20px;color:#6b6b6b;margin:0 8px;vertical-align:text-bottom;}
.index-nav-confirm{background:#aab0b5;border-radius:4px;width:98px;height:40px;line-height:40px;font-size:16px;
color:#ffffff;margin-right:15px;display:inline-block;text-align:center;cursor:pointer;}























/*登录页面*/
.login-content{width:100%;height:auto;margin-top:90px;}
.login-content form input{border:1px solid #cccccc;border-radius:4px;width:334px;height:54px;padding-left:14px;margin-top:22px;}
.login-form{width:350px;margin:0 auto;margin-top:155px;}
.to-login{font-family:'Microsoft YaHei';cursor:pointer;background:#66b8f5;border-radius:4px;width:350px;height:56px;display:inline-block;line-height:56px;text-align:center;font-size:24px;color:#ffffff;margin-top:52px;}
.login-form label{display:inline-block;}
/*欢迎页面*/
.login-welcome{width:350px;position:fixed;left:50%;top:50%;transform:translateY(-50%) translateX(-50%)}
.login-welcome p{font-size:20px;color:#8c98ab;}
.login-welcome span{float:left;}
